unpackaged/flows/CAMS_Complete_Subtask.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Set_AreOpenSiblings_to_False</name>
        <label>Set AreOpenSiblings to False</label>
        <locationX>493</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>AreOpenSiblings</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Through_Sibling_Subtasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_AreOpenSiblings_to_True</name>
        <label>Set AreOpenSiblings to True</label>
        <locationX>837</locationX>
        <locationY>162</locationY>
        <assignmentItems>
            <assignToReference>AreOpenSiblings</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Through_Sibling_Subtasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Related_To_Task_SubTasks_Completed_Date</name>
        <label>Set Related To Task SubTasks Completed Date</label>
        <locationX>1010</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>RelatedToTask.SubTasks_Completed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Related_To_Task</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_Sibling_Is_Open</name>
        <label>Check if Sibling Is Open</label>
        <locationX>672</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>Iterate_Through_Sibling_Subtasks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sibling_Is_Open</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>SiblingSubtask.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SiblingSubtask.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delegated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SiblingSubtask.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Governors Office</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SiblingSubtask.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Back to Requestor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SiblingSubtask.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Back to Assigned</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_AreOpenSiblings_to_True</targetReference>
            </connector>
            <label>Sibling Is Open</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_There_Are_Open_Siblings</name>
        <label>Check If There Are Open Siblings</label>
        <locationX>1006</locationX>
        <locationY>48</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>There_Are_NOT_Open_Siblings</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AreOpenSiblings</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retrieve_Related_To_Task</targetReference>
            </connector>
            <label>There Are NOT Open Siblings</label>
        </rules>
    </decisions>
    <interviewLabel>CAMS Complete Subtask {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CAMS Complete Subtask</label>
    <loops>
        <name>Iterate_Through_Sibling_Subtasks</name>
        <label>Iterate Through Sibling Subtasks</label>
        <locationX>677</locationX>
        <locationY>50</locationY>
        <assignNextValueToReference>SiblingSubtask</assignNextValueToReference>
        <collectionReference>SiblingSubtasks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_if_Sibling_Is_Open</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_If_There_Are_Open_Siblings</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Retrieve_Related_To_Task</name>
        <label>Retrieve Related To Task</label>
        <locationX>1013</locationX>
        <locationY>241</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Related_To_Task_SubTasks_Completed_Date</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Task.Related_To__c</elementReference>
            </value>
        </filters>
        <object>CAMS_Task__c</object>
        <outputReference>RelatedToTask</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Retrieve_Sibling_Subtasks</name>
        <label>Retrieve Sibling Subtasks</label>
        <locationX>335</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_AreOpenSiblings_to_False</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Task.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Related_To__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Task.Related_To__c</elementReference>
            </value>
        </filters>
        <object>CAMS_Task__c</object>
        <outputReference>SiblingSubtasks</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Retrieve_Task</name>
        <label>Retrieve Task</label>
        <locationX>180</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Retrieve_Sibling_Subtasks</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TaskId</elementReference>
            </value>
        </filters>
        <object>CAMS_Task__c</object>
        <outputReference>Task</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Related_To__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Related_To_Task</name>
        <label>Update Related To Task</label>
        <locationX>1006</locationX>
        <locationY>540</locationY>
        <inputReference>RelatedToTask</inputReference>
    </recordUpdates>
    <startElementReference>Retrieve_Task</startElementReference>
    <status>Active</status>
    <variables>
        <name>AreOpenSiblings</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>RelatedToTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CAMS_Task__c</objectType>
    </variables>
    <variables>
        <name>SiblingSubtask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CAMS_Task__c</objectType>
    </variables>
    <variables>
        <name>SiblingSubtasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CAMS_Task__c</objectType>
    </variables>
    <variables>
        <name>Task</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CAMS_Task__c</objectType>
    </variables>
    <variables>
        <name>TaskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
