unpackaged/flows/CAMS_Handle_CAMS_History_Test_Data.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Set_History_Test_Data</name>
        <label>Set History Test Data</label>
        <locationX>535</locationX>
        <locationY>208</locationY>
        <assignmentItems>
            <assignToReference>CAMSHistory.Test_Data__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_CAMS_History_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_Assignment_is_Test_Data</name>
        <label>Check if Assignment is Test Data</label>
        <locationX>525</locationX>
        <locationY>52</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Assignment_is_Test_Data</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Assignment.Test_Data__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_History_Test_Data</targetReference>
            </connector>
            <label>Assignment is Test Data</label>
        </rules>
    </decisions>
    <interviewLabel>CAMS Handle CAMS History Test Data {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CAMS Handle CAMS History Test Data</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Retrieve_CAMS_Assignment</name>
        <label>Retrieve CAMS Assignment</label>
        <locationX>332</locationX>
        <locationY>49</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Assignment_is_Test_Data</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CAMSHistory.Assignment__c</elementReference>
            </value>
        </filters>
        <object>CAMS_Assignment__c</object>
        <outputReference>Assignment</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Test_Data__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Retrieve_CAMS_History</name>
        <label>Retrieve CAMS History</label>
        <locationX>174</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Retrieve_CAMS_Assignment</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CAMSHistoryId</elementReference>
            </value>
        </filters>
        <object>CAMS_History__c</object>
        <outputReference>CAMSHistory</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Assignment__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_CAMS_History_Record</name>
        <label>Update CAMS History Record</label>
        <locationX>537</locationX>
        <locationY>369</locationY>
        <inputReference>CAMSHistory</inputReference>
    </recordUpdates>
    <startElementReference>Retrieve_CAMS_History</startElementReference>
    <status>Active</status>
    <variables>
        <name>Assignment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CAMS_Assignment__c</objectType>
    </variables>
    <variables>
        <name>CAMSHistory</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CAMS_History__c</objectType>
    </variables>
    <variables>
        <name>CAMSHistoryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
