unpackaged/flows/CAMS_Create_Assignment_Owner_Group_Share.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <formulas>
        <name>GroupName</name>
        <dataType>String</dataType>
        <expression>TEXT({!Assignment.BDO__c}) + &apos;_&apos; + SUBSTITUTE(TEXT({!Assignment.BDO_Suborganization__c}),&apos; &apos;,&apos;_&apos;)</expression>
    </formulas>
    <interviewLabel>CAMS Create Assignment Owner Group Share {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CAMS Create Assignment Owner Group Share</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Assignment_Share</name>
        <label>Create Assignment Share</label>
        <locationX>523</locationX>
        <locationY>50</locationY>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>Assignment.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>Owner_Group__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>Group.Id</elementReference>
            </value>
        </inputAssignments>
        <object>CAMS_Assignment__Share</object>
    </recordCreates>
    <recordLookups>
        <name>Retrieve_Assignment</name>
        <label>Retrieve Assignment</label>
        <locationX>177</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Retrieve_Group</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AssignmentId</elementReference>
            </value>
        </filters>
        <object>CAMS_Assignment__c</object>
        <outputReference>Assignment</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>BDO__c</queriedFields>
        <queriedFields>BDO_Suborganization__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Retrieve_Group</name>
        <label>Retrieve Group</label>
        <locationX>362</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Assignment_Share</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GroupName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Regular</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>Group</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <startElementReference>Retrieve_Assignment</startElementReference>
    <status>Active</status>
    <variables>
        <name>Assignment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CAMS_Assignment__c</objectType>
    </variables>
    <variables>
        <name>AssignmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Group</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Group</objectType>
    </variables>
</Flow>
