unpackaged/flows/CAMS_Complete_Task.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Set_IsOpenTask_to_False</name>
        <label>Set IsOpenTask to False</label>
        <locationX>963</locationX>
        <locationY>51</locationY>
        <assignmentItems>
            <assignToReference>IsOpenTask</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Retrieve_Siblings</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_IsOpenTask_To_True</name>
        <label>Set IsOpenTask To True</label>
        <locationX>1413</locationX>
        <locationY>144</locationY>
        <assignmentItems>
            <assignToReference>IsOpenTask</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Through_Siblings</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_New_Assignment_Values</name>
        <label>Set New Assignment Values</label>
        <locationX>1536</locationX>
        <locationY>359</locationY>
        <assignmentItems>
            <assignToReference>Assignment.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Successor_Status_to_Delegated</name>
        <label>Set Successor Status to Delegated</label>
        <locationX>712</locationX>
        <locationY>229</locationY>
        <assignmentItems>
            <assignToReference>Successor.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Delegated</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Successor</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_is_Subtask</name>
        <label>Check if is Subtask</label>
        <locationX>318</locationX>
        <locationY>52</locationY>
        <defaultConnector>
            <targetReference>Retrieve_Successors</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Subtask</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Task.Related_To__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Complete_Subtask</targetReference>
            </connector>
            <label>Is Subtask</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_IsOpenTask</name>
        <label>Check IsOpenTask</label>
        <locationX>1544</locationX>
        <locationY>51</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Open_Tasks</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsOpenTask</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retrieve_Assignment</targetReference>
            </connector>
            <label>No Open Tasks</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Sibling_Status</name>
        <label>Check Sibling Status</label>
        <locationX>1258</locationX>
        <locationY>203</locationY>
        <defaultConnector>
            <targetReference>Iterate_Through_Siblings</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_Not_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sibling.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_IsOpenTask_To_True</targetReference>
            </connector>
            <label>Status Not Completed</label>
        </rules>
    </decisions>
    <interviewLabel>CAMS Complete Task {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CAMS Complete Task</label>
    <loops>
        <name>Iterate_Through_Siblings</name>
        <label>Iterate Through Siblings</label>
        <locationX>1265</locationX>
        <locationY>51</locationY>
        <assignNextValueToReference>Sibling</assignNextValueToReference>
        <collectionReference>Siblings</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Sibling_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_IsOpenTask</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Through_Successors</name>
        <label>Iterate Through Successors</label>
        <locationX>781</locationX>
        <locationY>51</locationY>
        <assignNextValueToReference>Successor</assignNextValueToReference>
        <collectionReference>Successors</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Successor_Status_to_Delegated</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_IsOpenTask_to_False</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Retrieve_Assignment</name>
        <label>Retrieve Assignment</label>
        <locationX>1557</locationX>
        <locationY>216</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_New_Assignment_Values</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Task.CAMS_Assignment__c</elementReference>
            </value>
        </filters>
        <object>CAMS_Assignment__c</object>
        <outputReference>Assignment</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Retrieve_Siblings</name>
        <label>Retrieve Siblings</label>
        <locationX>1123</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Through_Siblings</targetReference>
        </connector>
        <filters>
            <field>CAMS_Assignment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Task.CAMS_Assignment__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Task.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Related_To__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>CAMS_Task__c</object>
        <outputReference>Siblings</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Retrieve_Successors</name>
        <label>Retrieve Successors</label>
        <locationX>620</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Through_Successors</targetReference>
        </connector>
        <filters>
            <field>Predecessor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Task.Id</elementReference>
            </value>
        </filters>
        <object>CAMS_Task__c</object>
        <outputReference>Successors</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Retrieve_Task</name>
        <label>Retrieve Task</label>
        <locationX>171</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_is_Subtask</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TaskId</elementReference>
            </value>
        </filters>
        <object>CAMS_Task__c</object>
        <outputReference>Task</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Related_To__c</queriedFields>
        <queriedFields>CAMS_Assignment__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Assignment</name>
        <label>Update Assignment</label>
        <locationX>1511</locationX>
        <locationY>502</locationY>
        <inputReference>Assignment</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Successor</name>
        <label>Update Successor</label>
        <locationX>858</locationX>
        <locationY>235</locationY>
        <connector>
            <targetReference>Iterate_Through_Successors</targetReference>
        </connector>
        <inputReference>Successor</inputReference>
    </recordUpdates>
    <startElementReference>Retrieve_Task</startElementReference>
    <status>Active</status>
    <subflows>
        <name>Complete_Subtask</name>
        <label>Complete Subtask</label>
        <locationX>327</locationX>
        <locationY>261</locationY>
        <flowName>CAMS_Complete_Subtask</flowName>
        <inputAssignments>
            <name>TaskId</name>
            <value>
                <elementReference>TaskId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>Assignment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CAMS_Assignment__c</objectType>
    </variables>
    <variables>
        <name>IsOpenTask</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Sibling</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CAMS_Task__c</objectType>
    </variables>
    <variables>
        <name>Siblings</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CAMS_Task__c</objectType>
    </variables>
    <variables>
        <name>Successor</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CAMS_Task__c</objectType>
    </variables>
    <variables>
        <name>Successors</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CAMS_Task__c</objectType>
    </variables>
    <variables>
        <name>Task</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CAMS_Task__c</objectType>
    </variables>
    <variables>
        <name>TaskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
