unpackaged/flows/CAMS_Send_All_Task_Completed_For_Assignment_Email.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_All_Task_Completed_For_Assignment</name>
        <label>Send All Task Completed For Assignment</label>
        <locationX>1010</locationX>
        <locationY>759</locationY>
        <actionName>CAMS_Assignment__c.CAMS_All_Task_Completed_For_Assignment</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>AssignmentID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Increment_Recipient_Count</name>
        <label>Increment Recipient Count</label>
        <locationX>850</locationX>
        <locationY>561</locationY>
        <assignmentItems>
            <assignToReference>NumberOfRecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Through_Queue_Members</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Assignment_Owner_Type</name>
        <label>Check Assignment Owner Type</label>
        <locationX>339</locationX>
        <locationY>211</locationY>
        <defaultConnector>
            <targetReference>Retrieve_Queue_Members</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Assignment_Owner_is_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Assignment.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_All_Task_Completed_For_Assignment</targetReference>
            </connector>
            <label>Assignment Owner is User</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Assigned_To_Exists</name>
        <label>Check if Assigned To Exists</label>
        <locationX>87</locationX>
        <locationY>689</locationY>
        <defaultConnector>
            <targetReference>Check_Assignment_Owner_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Assigned_To_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Assignment.Assigned_To__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_All_Task_Completed_For_Assignment</targetReference>
            </connector>
            <label>Assigned To Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Member_Type</name>
        <label>Check Member Type</label>
        <locationX>763</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Iterate_Through_Queue_Members</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Member_is_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QueueMember.UserOrGroupId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Increment_Recipient_Count</targetReference>
            </connector>
            <label>Member is User</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Recipient_Count</name>
        <label>Check Recipient Count</label>
        <locationX>1261</locationX>
        <locationY>199</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Recipient_Count_is_Greater_Than_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NumberOfRecipients</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_All_Task_Completed_For_Assignment</targetReference>
            </connector>
            <label>Recipient Count is Greater Than 0</label>
        </rules>
    </decisions>
    <interviewLabel>CAMS Send All Task Completed For Assignment Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CAMS Send All Task Completed For Assignment Email</label>
    <loops>
        <name>Iterate_Through_Queue_Members</name>
        <label>Iterate Through Queue Members</label>
        <locationX>836</locationX>
        <locationY>39</locationY>
        <assignNextValueToReference>QueueMember</assignNextValueToReference>
        <collectionReference>QueueMembers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Member_Type</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Recipient_Count</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Retrieve_Assignment</name>
        <label>Retrieve Assignment</label>
        <locationX>123</locationX>
        <locationY>164</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Assigned_To_Exists</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AssignmentID</elementReference>
            </value>
        </filters>
        <object>CAMS_Assignment__c</object>
        <outputReference>Assignment</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Assigned_To__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Retrieve_Queue_Members</name>
        <label>Retrieve Queue Members</label>
        <locationX>609</locationX>
        <locationY>52</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Through_Queue_Members</targetReference>
        </connector>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Assignment.OwnerId</elementReference>
            </value>
        </filters>
        <object>GroupMember</object>
        <outputReference>QueueMembers</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>GroupId</queriedFields>
        <queriedFields>UserOrGroupId</queriedFields>
    </recordLookups>
    <startElementReference>Retrieve_Assignment</startElementReference>
    <status>Active</status>
    <variables>
        <name>Assignment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CAMS_Assignment__c</objectType>
    </variables>
    <variables>
        <name>AssignmentID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NumberOfRecipients</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>QueueMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>QueueMembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
</Flow>
