unpackaged/flows/CAMS_Create_Assignment_Assigned_To_Update_History_Record.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <formulas>
        <name>Description</name>
        <dataType>String</dataType>
        <expression>&apos;Assigned To: &apos; + {!OldUser.Name} + &apos; to &apos; + {!NewUser.Name}</expression>
    </formulas>
    <interviewLabel>CAMS Create Assignment Assigned To Update History Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CAMS Create Assignment Assigned To Update History Record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_CAMS_History_Record</name>
        <label>Create CAMS History Record</label>
        <locationX>694</locationX>
        <locationY>39</locationY>
        <inputAssignments>
            <field>Action__c</field>
            <value>
                <stringValue>Update</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Assignment_Name__c</field>
            <value>
                <elementReference>Assignment.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Assignment__c</field>
            <value>
                <elementReference>Assignment.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name_Id__c</field>
            <value>
                <elementReference>Assignment.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Assignment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User__c</field>
        </inputAssignments>
        <object>CAMS_History__c</object>
    </recordCreates>
    <recordLookups>
        <name>Retrieve_Assignment</name>
        <label>Retrieve Assignment</label>
        <locationX>212</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Retrieve_Previous_Assigned_To_User</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AssignmentId</elementReference>
            </value>
        </filters>
        <object>CAMS_Assignment__c</object>
        <outputReference>Assignment</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Assigned_To__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Retrieve_New_Assigned_To_User</name>
        <label>Retrieve New Assigned To User</label>
        <locationX>548</locationX>
        <locationY>48</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_CAMS_History_Record</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewUserId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>NewUser</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Retrieve_Previous_Assigned_To_User</name>
        <label>Retrieve Previous Assigned To User</label>
        <locationX>382</locationX>
        <locationY>52</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Retrieve_New_Assigned_To_User</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OldUserId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>OldUser</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <startElementReference>Retrieve_Assignment</startElementReference>
    <status>Active</status>
    <variables>
        <name>Assignment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CAMS_Assignment__c</objectType>
    </variables>
    <variables>
        <name>AssignmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LastModifiedById</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>NewUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OldUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>OldUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
