unpackaged/flows/CAMS_In_Progress_Assignment.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Set_Task_Status</name>
        <label>Set Task Status</label>
        <locationX>558</locationX>
        <locationY>207</locationY>
        <assignmentItems>
            <assignToReference>InitialTask.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Delegated</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Task</targetReference>
        </connector>
    </assignments>
    <interviewLabel>CAMS In Progress Assignment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CAMS In Progress Assignment</label>
    <loops>
        <name>Iterate_Through_Initial_Tasks</name>
        <label>Iterate Through Initial Tasks</label>
        <locationX>559</locationX>
        <locationY>52</locationY>
        <assignNextValueToReference>InitialTask</assignNextValueToReference>
        <collectionReference>InitialTasks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Task_Status</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Retrieve_Assignment</name>
        <label>Retrieve Assignment</label>
        <locationX>196</locationX>
        <locationY>46</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Retrieve_Initial_Tasks</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AssignmentId</elementReference>
            </value>
        </filters>
        <object>CAMS_Assignment__c</object>
        <outputReference>Assignment</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Retrieve_Initial_Tasks</name>
        <label>Retrieve Initial Tasks</label>
        <locationX>368</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Through_Initial_Tasks</targetReference>
        </connector>
        <filters>
            <field>CAMS_Assignment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Assignment.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Predecessor__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>CAMS_Task__c</object>
        <outputReference>InitialTasks</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Task</name>
        <label>Update Task</label>
        <locationX>799</locationX>
        <locationY>139</locationY>
        <connector>
            <targetReference>Iterate_Through_Initial_Tasks</targetReference>
        </connector>
        <inputReference>InitialTask</inputReference>
    </recordUpdates>
    <startElementReference>Retrieve_Assignment</startElementReference>
    <status>Active</status>
    <variables>
        <name>Assignment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CAMS_Assignment__c</objectType>
    </variables>
    <variables>
        <name>AssignmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InitialTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CAMS_Task__c</objectType>
    </variables>
    <variables>
        <name>InitialTasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CAMS_Task__c</objectType>
    </variables>
</Flow>
