unpackaged/flows/CAMS_Task_Delegation.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Task_Delegation_or_Assignment_Email_Alert</name>
        <label>Send Task Delegation or Assignment Email Alert</label>
        <locationX>1665</locationX>
        <locationY>1153</locationY>
        <actionName>CAMS_Task__c.CAMS_Task_Delegation_or_Assignment</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>TaskId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Increment_Number_of_Group_Members</name>
        <label>Increment Number of Group Members</label>
        <locationX>1158</locationX>
        <locationY>833</locationY>
        <assignmentItems>
            <assignToReference>NumberOfGroupMembers</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>GroupMembers</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Email_Alert_Recipients</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Assignment_Status_to_In_Progress</name>
        <label>Set Assignment Status to In Progress</label>
        <locationX>523</locationX>
        <locationY>206</locationY>
        <assignmentItems>
            <assignToReference>Assignment.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Task_Owner</name>
        <label>Set Task Owner</label>
        <locationX>382</locationX>
        <locationY>537</locationY>
        <assignmentItems>
            <assignToReference>Task.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Queue.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Task_Share_For_Owner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Task_Status_Date</name>
        <label>Set Task Status Date</label>
        <locationX>1067</locationX>
        <locationY>271</locationY>
        <assignmentItems>
            <assignToReference>Task.Status_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Task</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Assignment_Status</name>
        <label>Check Assignment Status</label>
        <locationX>604</locationX>
        <locationY>375</locationY>
        <defaultConnector>
            <targetReference>Retrieve_Sibling_Tasks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pending</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Assignment.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Assignment_Status_to_In_Progress</targetReference>
            </connector>
            <label>Pending</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Email_Alert_Recipients</name>
        <label>Check Email Alert Recipients</label>
        <locationX>1117</locationX>
        <locationY>974</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>There_are_Recipients</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>NumberOfGroupMembers</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Task.Assigned_To__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Task_Delegation_or_Assignment_Email_Alert</targetReference>
            </connector>
            <label>There are Recipients</label>
        </rules>
    </decisions>
    <formulas>
        <name>QueueName</name>
        <dataType>String</dataType>
        <expression>TEXT({!Task.BDO__c}) + &apos;_&apos; + SUBSTITUTE(TEXT({!Task.BDO_Suborganization__c}),&apos; &apos;,&apos;_&apos;)</expression>
    </formulas>
    <interviewLabel>CAMS Task Delegation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CAMS Task Delegation</label>
    <loops>
        <name>Iterate_Through_Siblings</name>
        <label>Iterate Through Siblings</label>
        <locationX>904</locationX>
        <locationY>257</locationY>
        <assignNextValueToReference>SiblingTask</assignNextValueToReference>
        <collectionReference>Siblings</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Retrieve_Queue_3</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_Task_Status_Date</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Assignment_Share</name>
        <label>Create Assignment Share</label>
        <locationX>353</locationX>
        <locationY>740</locationY>
        <connector>
            <targetReference>Set_Task_Owner</targetReference>
        </connector>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>Task.CAMS_Assignment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>Tasked_Group__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>PublicGroup.Id</elementReference>
            </value>
        </inputAssignments>
        <object>CAMS_Assignment__Share</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Sibling_Task_Owner_Task_Share_2</name>
        <label>Create Sibling Task Owner Task Share 2</label>
        <locationX>999</locationX>
        <locationY>468</locationY>
        <connector>
            <targetReference>Iterate_Through_Siblings</targetReference>
        </connector>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>SiblingTask.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>Sibling_Task_Owner__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>PublicGroup.Id</elementReference>
            </value>
        </inputAssignments>
        <object>CAMS_Task__Share</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_Share_For_Owner</name>
        <label>Create Task Share For Owner</label>
        <locationX>382</locationX>
        <locationY>379</locationY>
        <connector>
            <targetReference>Retrieve_Assignment</targetReference>
        </connector>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>Task.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>Task_Owner_Group__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>PublicGroup.Id</elementReference>
            </value>
        </inputAssignments>
        <object>CAMS_Task__Share</object>
    </recordCreates>
    <recordLookups>
        <name>Retrieve_Assignment</name>
        <label>Retrieve Assignment</label>
        <locationX>501</locationX>
        <locationY>378</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Assignment_Status</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Task.CAMS_Assignment__c</elementReference>
            </value>
        </filters>
        <object>CAMS_Assignment__c</object>
        <outputReference>Assignment</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Retrieve_Public_Group_0</name>
        <label>Retrieve Public Group 0</label>
        <locationX>229</locationX>
        <locationY>659</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Assignment_Share</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Queue.DeveloperName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Regular</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>PublicGroup</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Retrieve_Public_Group_2</name>
        <label>Retrieve Public Group 2</label>
        <locationX>871</locationX>
        <locationY>631</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Sibling_Task_Owner_Task_Share_2</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Queue.DeveloperName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Regular</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>PublicGroup</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Retrieve_Queue</name>
        <label>Retrieve Queue</label>
        <locationX>155</locationX>
        <locationY>520</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Retrieve_Public_Group_0</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QueueName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>Queue</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Retrieve_Queue_3</name>
        <label>Retrieve Queue 3</label>
        <locationX>822</locationX>
        <locationY>467</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Retrieve_Public_Group_2</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Task.OwnerId</elementReference>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>Queue</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Retrieve_Queue_Members</name>
        <label>Retrieve Queue Members</label>
        <locationX>1154</locationX>
        <locationY>698</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Increment_Number_of_Group_Members</targetReference>
        </connector>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Queue.Id</elementReference>
            </value>
        </filters>
        <object>GroupMember</object>
        <outputReference>GroupMembers</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Retrieve_Sibling_Tasks</name>
        <label>Retrieve Sibling Tasks</label>
        <locationX>750</locationX>
        <locationY>257</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Through_Siblings</targetReference>
        </connector>
        <filters>
            <field>CAMS_Assignment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Task.CAMS_Assignment__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Task.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <object>CAMS_Task__c</object>
        <outputReference>Siblings</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Retrieve_Task</name>
        <label>Retrieve Task</label>
        <locationX>137</locationX>
        <locationY>368</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Retrieve_Queue</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TaskId</elementReference>
            </value>
        </filters>
        <object>CAMS_Task__c</object>
        <outputReference>Task</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status_Date__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>CAMS_Assignment__c</queriedFields>
        <queriedFields>BDO__c</queriedFields>
        <queriedFields>BDO_Suborganization__c</queriedFields>
        <queriedFields>Assigned_To__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Assignment</name>
        <label>Update Assignment</label>
        <locationX>643</locationX>
        <locationY>180</locationY>
        <connector>
            <targetReference>Retrieve_Sibling_Tasks</targetReference>
        </connector>
        <inputReference>Assignment</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Task</name>
        <label>Update Task</label>
        <locationX>1199</locationX>
        <locationY>544</locationY>
        <connector>
            <targetReference>Retrieve_Queue_Members</targetReference>
        </connector>
        <inputReference>Task</inputReference>
    </recordUpdates>
    <startElementReference>Retrieve_Task</startElementReference>
    <status>Active</status>
    <variables>
        <name>Assignment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CAMS_Assignment__c</objectType>
    </variables>
    <variables>
        <name>GroupMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>GroupMembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>NumberOfGroupMembers</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>PublicGroup</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <name>Queue</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <name>Siblings</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CAMS_Task__c</objectType>
    </variables>
    <variables>
        <name>SiblingTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CAMS_Task__c</objectType>
    </variables>
    <variables>
        <name>Task</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CAMS_Task__c</objectType>
    </variables>
    <variables>
        <name>TaskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
