unpackaged/flows/CAMS_Send_All_Subtasks_Completed_Email.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_CAMS_All_Subtasks_Completed</name>
        <label>Send CAMS All Subtasks Completed</label>
        <locationX>952</locationX>
        <locationY>689</locationY>
        <actionName>CAMS_Task__c.CAMS_All_Subtasks_Completed</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>TaskId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Increment_Recipient_Count</name>
        <label>Increment Recipient Count</label>
        <locationX>833</locationX>
        <locationY>454</locationY>
        <assignmentItems>
            <assignToReference>NumberOfRecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Through_Queue_Members</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_Assigned_To_Exists</name>
        <label>Check if Assigned To Exists</label>
        <locationX>277</locationX>
        <locationY>270</locationY>
        <defaultConnector>
            <targetReference>Check_Task_Owner_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Assigned_To_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Task.Assigned_To__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_CAMS_All_Subtasks_Completed</targetReference>
            </connector>
            <label>Assigned To Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Member_Type</name>
        <label>Check Member Type</label>
        <locationX>819</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>Iterate_Through_Queue_Members</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Member_is_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QueueMember.UserOrGroupId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Increment_Recipient_Count</targetReference>
            </connector>
            <label>Member is User</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Recipient_Count</name>
        <label>Check Recipient Count</label>
        <locationX>1075</locationX>
        <locationY>260</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Recipient_Count_is_Greater_Than_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NumberOfRecipients</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_CAMS_All_Subtasks_Completed</targetReference>
            </connector>
            <label>Recipient Count is Greater Than 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Task_Owner_Type</name>
        <label>Check Task Owner Type</label>
        <locationX>397</locationX>
        <locationY>188</locationY>
        <defaultConnector>
            <targetReference>Retrieve_Queue_Members</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Task_Owner_is_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Task.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_CAMS_All_Subtasks_Completed</targetReference>
            </connector>
            <label>Task Owner is User</label>
        </rules>
    </decisions>
    <interviewLabel>CAMS Send All Subtasks Completed Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CAMS Send All Subtasks Completed Email</label>
    <loops>
        <name>Iterate_Through_Queue_Members</name>
        <label>Iterate Through Queue Members</label>
        <locationX>825</locationX>
        <locationY>52</locationY>
        <assignNextValueToReference>QueueMember</assignNextValueToReference>
        <collectionReference>QueueMembers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Member_Type</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Recipient_Count</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Retrieve_Queue_Members</name>
        <label>Retrieve Queue Members</label>
        <locationX>609</locationX>
        <locationY>52</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Through_Queue_Members</targetReference>
        </connector>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Task.OwnerId</elementReference>
            </value>
        </filters>
        <object>GroupMember</object>
        <outputReference>QueueMembers</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>UserOrGroupId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Retrieve_Task</name>
        <label>Retrieve Task</label>
        <locationX>123</locationX>
        <locationY>164</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Assigned_To_Exists</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TaskId</elementReference>
            </value>
        </filters>
        <object>CAMS_Task__c</object>
        <outputReference>Task</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Assigned_To__c</queriedFields>
    </recordLookups>
    <startElementReference>Retrieve_Task</startElementReference>
    <status>Active</status>
    <variables>
        <name>NumberOfRecipients</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>QueueMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>QueueMembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>Task</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CAMS_Task__c</objectType>
    </variables>
    <variables>
        <name>TaskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
