unpackaged/flows/CAMS_Update_Assignment_Owner.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Set_Assignment_Owner</name>
        <label>Set Assignment Owner</label>
        <locationX>545</locationX>
        <locationY>48</locationY>
        <assignmentItems>
            <assignToReference>Assignment.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Queue.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_Assignment</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>QueueName</name>
        <dataType>String</dataType>
        <expression>TEXT({!Assignment.BDO__c}) + &apos;_&apos; + SUBSTITUTE(TEXT({!Assignment.BDO_Suborganization__c}),&apos; &apos;,&apos;_&apos;)</expression>
    </formulas>
    <interviewLabel>CAMS Update Assignment Owner {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CAMS Update Assignment Owner</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Retrieve_Assignment</name>
        <label>Retrieve Assignment</label>
        <locationX>204</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Retrieve_Queue</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AssignmentId</elementReference>
            </value>
        </filters>
        <object>CAMS_Assignment__c</object>
        <outputReference>Assignment</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>BDO__c</queriedFields>
        <queriedFields>BDO_Suborganization__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Retrieve_Queue</name>
        <label>Retrieve Queue</label>
        <locationX>367</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Assignment_Owner</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QueueName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>Queue</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Save_Assignment</name>
        <label>Save Assignment</label>
        <locationX>706</locationX>
        <locationY>47</locationY>
        <inputReference>Assignment</inputReference>
    </recordUpdates>
    <startElementReference>Retrieve_Assignment</startElementReference>
    <status>Active</status>
    <variables>
        <name>Assignment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CAMS_Assignment__c</objectType>
    </variables>
    <variables>
        <name>AssignmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Queue</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Group</objectType>
    </variables>
</Flow>
