unpackaged/flows/CAMS_Automate_Travel.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Check_BDO</name>
        <label>Check BDO</label>
        <locationX>315</locationX>
        <locationY>196</locationY>
        <defaultConnector>
            <targetReference>Create_BDO_Executive_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>BDO_is_Agency</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Assignment.BDO__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Agency</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Agency_Admin_Task_2</targetReference>
            </connector>
            <label>BDO is Agency</label>
        </rules>
    </decisions>
    <formulas>
        <name>BDOSuborganization</name>
        <dataType>String</dataType>
        <expression>IF(
    TEXT({!Assignment.BDO__c})=&apos;ARB&apos;,&apos;Executive Office&apos;,
    IF(
        TEXT({!Assignment.BDO__c})=&apos;CalRecycle&apos;,&apos;Director&apos;,
        IF(
            TEXT({!Assignment.BDO__c})=&apos;DPR&apos;,&apos;Director&apos;,
            IF(
                TEXT({!Assignment.BDO__c})=&apos;DTSC&apos;,&apos;Director&apos;,
                IF(
                    TEXT({!Assignment.BDO__c})=&apos;OEHHA&apos;,&apos;Director&apos;,
                    IF(
                        TEXT({!Assignment.BDO__c})=&apos;SWRCB&apos;,&apos;Executive Office&apos;,
                        IF(TEXT({!Assignment.BDO__c})=&apos;Agency&apos;,&apos;Executive Office&apos;,&apos;Other&apos;)
                    )
                )
            )
        )
    )
)</expression>
    </formulas>
    <formulas>
        <name>DueDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()+3</expression>
    </formulas>
    <formulas>
        <name>DueDate2</name>
        <dataType>Date</dataType>
        <expression>TODAY()+6</expression>
    </formulas>
    <interviewLabel>CAMS Automate Travel {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CAMS Automate Travel</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Agency_Admin_Task</name>
        <label>Create Agency Admin Task</label>
        <locationX>773</locationX>
        <locationY>518</locationY>
        <inputAssignments>
            <field>BDO_Suborganization__c</field>
            <value>
                <stringValue>Fiscal and Admin Programs</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BDO__c</field>
            <value>
                <stringValue>Agency</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAMS_Assignment__c</field>
            <value>
                <elementReference>Assignment.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Due_Date__c</field>
            <value>
                <elementReference>DueDate2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Predecessor__c</field>
            <value>
                <elementReference>BDOExecutiveTaskId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Type__c</field>
            <value>
                <stringValue>Sequential</stringValue>
            </value>
        </inputAssignments>
        <object>CAMS_Task__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Agency_Admin_Task_2</name>
        <label>Create Agency Admin Task 2</label>
        <locationX>747</locationX>
        <locationY>41</locationY>
        <inputAssignments>
            <field>BDO_Suborganization__c</field>
            <value>
                <stringValue>Fiscal and Admin Programs</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BDO__c</field>
            <value>
                <stringValue>Agency</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAMS_Assignment__c</field>
            <value>
                <elementReference>Assignment.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Due_Date__c</field>
            <value>
                <elementReference>DueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Type__c</field>
            <value>
                <stringValue>Concurrent</stringValue>
            </value>
        </inputAssignments>
        <object>CAMS_Task__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_BDO_Executive_Task</name>
        <label>Create BDO Executive Task</label>
        <locationX>542</locationX>
        <locationY>420</locationY>
        <assignRecordIdToReference>BDOExecutiveTaskId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Agency_Admin_Task</targetReference>
        </connector>
        <inputAssignments>
            <field>BDO_Suborganization__c</field>
            <value>
                <elementReference>BDOSuborganization</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BDO__c</field>
            <value>
                <elementReference>Assignment.BDO__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CAMS_Assignment__c</field>
            <value>
                <elementReference>Assignment.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Due_Date__c</field>
            <value>
                <elementReference>DueDate</elementReference>
            </value>
        </inputAssignments>
        <object>CAMS_Task__c</object>
    </recordCreates>
    <recordLookups>
        <name>Retrieve_Assignment</name>
        <label>Retrieve Assignment</label>
        <locationX>194</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_BDO</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AssignmentId</elementReference>
            </value>
        </filters>
        <object>CAMS_Assignment__c</object>
        <outputReference>Assignment</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>BDO__c</queriedFields>
        <queriedFields>BDO_Suborganization__c</queriedFields>
    </recordLookups>
    <startElementReference>Retrieve_Assignment</startElementReference>
    <status>Active</status>
    <variables>
        <name>Assignment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CAMS_Assignment__c</objectType>
    </variables>
    <variables>
        <name>AssignmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BDOExecutiveTaskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
