unpackaged/flows/CAMS_Set_Child_Task_Status.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Set_Child_Task_Status_to_Delegated</name>
        <label>Set Child Task Status to Delegated</label>
        <locationX>802</locationX>
        <locationY>51</locationY>
        <assignmentItems>
            <assignToReference>ChildTask.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Delegated</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_Child_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Child_Task_Status_to_Pending</name>
        <label>Set Child Task Status to Pending</label>
        <locationX>588</locationX>
        <locationY>228</locationY>
        <assignmentItems>
            <assignToReference>ChildTask.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_Child_Task</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Parent_Task_Status</name>
        <label>Check Parent Task Status</label>
        <locationX>581</locationX>
        <locationY>52</locationY>
        <defaultConnector>
            <targetReference>Set_Child_Task_Status_to_Delegated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Parent_Task_is_Pending</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ParentTask.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Child_Task_Status_to_Pending</targetReference>
            </connector>
            <label>Parent Task is Pending</label>
        </rules>
    </decisions>
    <interviewLabel>CAMS Set Child Task Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CAMS Set Child Task Status</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Retrieve_Child_Task</name>
        <label>Retrieve Child Task</label>
        <locationX>208</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Retrieve_Parent_Task</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChildTaskId</elementReference>
            </value>
        </filters>
        <object>CAMS_Task__c</object>
        <outputReference>ChildTask</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Related_To__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Retrieve_Parent_Task</name>
        <label>Retrieve Parent Task</label>
        <locationX>390</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Parent_Task_Status</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChildTask.Related_To__c</elementReference>
            </value>
        </filters>
        <object>CAMS_Task__c</object>
        <outputReference>ParentTask</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Save_Child_Task</name>
        <label>Save Child Task</label>
        <locationX>803</locationX>
        <locationY>226</locationY>
        <inputReference>ChildTask</inputReference>
    </recordUpdates>
    <startElementReference>Retrieve_Child_Task</startElementReference>
    <status>Active</status>
    <variables>
        <name>ChildTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CAMS_Task__c</objectType>
    </variables>
    <variables>
        <name>ChildTaskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ParentTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CAMS_Task__c</objectType>
    </variables>
</Flow>
