unpackaged/flows/CAMS_Withdraw_Successor_Tasks.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Set_Successor_Task_Status</name>
        <label>Set Successor Task Status</label>
        <locationX>627</locationX>
        <locationY>271</locationY>
        <assignmentItems>
            <assignToReference>SuccessorTask.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Withdrawn</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Successor_Task</targetReference>
        </connector>
    </assignments>
    <interviewLabel>CAMS Withdraw Successor Tasks {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CAMS Withdraw Successor Tasks</label>
    <loops>
        <name>Iterate_Through_Successor_Tasks</name>
        <label>Iterate Through Successor Tasks</label>
        <locationX>477</locationX>
        <locationY>48</locationY>
        <assignNextValueToReference>SuccessorTask</assignNextValueToReference>
        <collectionReference>SuccessorTasks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Successor_Task_Status</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Retrieve_Successor_Tasks</name>
        <label>Retrieve Successor Tasks</label>
        <locationX>318</locationX>
        <locationY>49</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Through_Successor_Tasks</targetReference>
        </connector>
        <filters>
            <field>Predecessor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Task.Id</elementReference>
            </value>
        </filters>
        <object>CAMS_Task__c</object>
        <outputReference>SuccessorTasks</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Retrieve_Task</name>
        <label>Retrieve Task</label>
        <locationX>181</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Retrieve_Successor_Tasks</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TaskId</elementReference>
            </value>
        </filters>
        <object>CAMS_Task__c</object>
        <outputReference>Task</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Successor_Task</name>
        <label>Update Successor Task</label>
        <locationX>829</locationX>
        <locationY>125</locationY>
        <connector>
            <targetReference>Iterate_Through_Successor_Tasks</targetReference>
        </connector>
        <inputReference>SuccessorTask</inputReference>
    </recordUpdates>
    <startElementReference>Retrieve_Task</startElementReference>
    <status>Active</status>
    <variables>
        <name>SuccessorTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CAMS_Task__c</objectType>
    </variables>
    <variables>
        <name>SuccessorTasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CAMS_Task__c</objectType>
    </variables>
    <variables>
        <name>Task</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CAMS_Task__c</objectType>
    </variables>
    <variables>
        <name>TaskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
