unpackaged/flows/CAMS_Reopen_Assignment_If_Completed_or_Closed_And_New_Task_Added.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Set_Assignment_Status_and_Closed_Date</name>
        <label>Set Assignment Status and Closed Date</label>
        <locationX>505</locationX>
        <locationY>264</locationY>
        <assignmentItems>
            <assignToReference>Assignment.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Assignment.Closed_Withdrawn_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Update_Assignment</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Assignment_Status</name>
        <label>Check Assignment Status</label>
        <locationX>496</locationX>
        <locationY>52</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_Completed_or_Closed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Assignment.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Assignment.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Assignment_Status_and_Closed_Date</targetReference>
            </connector>
            <label>Status Completed or Closed</label>
        </rules>
    </decisions>
    <interviewLabel>CAMS Reopen Assignment If Completed or Closed And New Task Added {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CAMS Reopen Assignment If Completed or Closed And New Task Added</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Retrieve_Assignment</name>
        <label>Retrieve Assignment</label>
        <locationX>343</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Assignment_Status</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Task.CAMS_Assignment__c</elementReference>
            </value>
        </filters>
        <object>CAMS_Assignment__c</object>
        <outputReference>Assignment</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Retrieve_Task</name>
        <label>Retrieve Task</label>
        <locationX>178</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Retrieve_Assignment</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TaskId</elementReference>
            </value>
        </filters>
        <object>CAMS_Task__c</object>
        <outputReference>Task</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CAMS_Assignment__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Assignment</name>
        <label>Update Assignment</label>
        <locationX>505</locationX>
        <locationY>420</locationY>
        <inputReference>Assignment</inputReference>
    </recordUpdates>
    <startElementReference>Retrieve_Task</startElementReference>
    <status>Active</status>
    <variables>
        <name>Assignment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CAMS_Assignment__c</objectType>
    </variables>
    <variables>
        <name>Task</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CAMS_Task__c</objectType>
    </variables>
    <variables>
        <name>TaskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
