unpackaged/flows/CAMS_Create_Task_Assigned_To_Update_History_Record.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <formulas>
        <name>Description</name>
        <dataType>String</dataType>
        <expression>&apos;Assigned To: &apos; + {!OldUser.Name} + &apos; to &apos; + {!NewUser.Name}</expression>
    </formulas>
    <interviewLabel>CAMS Create Task Assigned To Update History Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CAMS Create Task Assigned To Update History Record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_CAMS_History_Record</name>
        <label>Create CAMS History Record</label>
        <locationX>755</locationX>
        <locationY>58</locationY>
        <inputAssignments>
            <field>Action__c</field>
            <value>
                <stringValue>Update</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Assignment_Name__c</field>
            <value>
                <elementReference>Assignment.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Assignment__c</field>
            <value>
                <elementReference>Assignment.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name_Id__c</field>
            <value>
                <elementReference>Task.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Name__c</field>
            <value>
                <elementReference>Task.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User__c</field>
            <value>
                <elementReference>LastModifiedById</elementReference>
            </value>
        </inputAssignments>
        <object>CAMS_History__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Assignment</name>
        <label>Get Assignment</label>
        <locationX>280</locationX>
        <locationY>54</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Previous_Assigned_To_User</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Task.CAMS_Assignment__c</elementReference>
            </value>
        </filters>
        <object>CAMS_Assignment__c</object>
        <outputReference>Assignment</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_New_Assigned_To_User</name>
        <label>Get New Assigned To User</label>
        <locationX>596</locationX>
        <locationY>47</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_CAMS_History_Record</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewUserId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>NewUser</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Previous_Assigned_To_User</name>
        <label>Get Previous Assigned To User</label>
        <locationX>439</locationX>
        <locationY>47</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_New_Assigned_To_User</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OldUserId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>OldUser</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Task</name>
        <label>Get Task</label>
        <locationX>167</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Assignment</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TaskId</elementReference>
            </value>
        </filters>
        <object>CAMS_Task__c</object>
        <outputReference>Task</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CAMS_Assignment__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <startElementReference>Get_Task</startElementReference>
    <status>Active</status>
    <variables>
        <name>Assignment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CAMS_Assignment__c</objectType>
    </variables>
    <variables>
        <name>LastModifiedById</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>NewUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OldUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>OldUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Task</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CAMS_Task__c</objectType>
    </variables>
    <variables>
        <name>TaskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
