unpackaged/flows/CERS_Help_Desk_Add_Technical_Manager_to_Case_Team.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Check_if_CERS_Technical_Manager_User_Exists</name>
        <label>Check if CERS Technical Manager User Exists</label>
        <locationX>606</locationX>
        <locationY>479</locationY>
        <defaultConnector>
            <targetReference>Iterate_Through_CERS_Technical_Managers</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CERS_Technical_Manager_User_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CERSTechnicalManagerUser</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case_Team_Role</targetReference>
            </connector>
            <label>CERS Technical Manager User Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Technical_Manager_Case_Team_Member_Role_Exists</name>
        <label>Check if Technical Manager Case Team Member Role Exists</label>
        <locationX>954</locationX>
        <locationY>295</locationY>
        <defaultConnector>
            <targetReference>Iterate_Through_CERS_Technical_Managers</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Technical_Manager_Case_Team_Member_Role_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TechnicalManagerCaseTeamRole</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Case_Team_Member</targetReference>
            </connector>
            <label>Technical Manager Case Team Member Role Exists</label>
        </rules>
    </decisions>
    <interviewLabel>CERS Help Desk Add Technical Manager to Case Team {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CERS Help Desk Add Technical Manager to Case Team</label>
    <loops>
        <name>Iterate_Through_CERS_Technical_Managers</name>
        <label>Iterate Through CERS Technical Managers</label>
        <locationX>385</locationX>
        <locationY>50</locationY>
        <assignNextValueToReference>CERSTechnicalManager</assignNextValueToReference>
        <collectionReference>CERSTechnicalManagers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Retrieve_CERS_Technical_Manager_User</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Case_Team_Member</name>
        <label>Create Case Team Member</label>
        <locationX>1172</locationX>
        <locationY>226</locationY>
        <connector>
            <targetReference>Iterate_Through_CERS_Technical_Managers</targetReference>
        </connector>
        <inputAssignments>
            <field>MemberId</field>
            <value>
                <elementReference>CERSTechnicalManagerUser.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamRoleId</field>
            <value>
                <elementReference>TechnicalManagerCaseTeamRole.Id</elementReference>
            </value>
        </inputAssignments>
        <object>CaseTeamMember</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Case_Team_Role</name>
        <label>Get Case Team Role</label>
        <locationX>824</locationX>
        <locationY>362</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Technical_Manager_Case_Team_Member_Role_Exists</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Technical Manager</stringValue>
            </value>
        </filters>
        <object>CaseTeamRole</object>
        <outputReference>TechnicalManagerCaseTeamRole</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_CERS_Technical_Manager</name>
        <label>Get CERS Technical Manager</label>
        <locationX>196</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Through_CERS_Technical_Managers</targetReference>
        </connector>
        <object>CERS_Technical_Manager__mdt</object>
        <outputReference>CERSTechnicalManagers</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>MasterLabel</queriedFields>
        <queriedFields>Label</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Retrieve_CERS_Technical_Manager_User</name>
        <label>Retrieve CERS Technical Manager User</label>
        <locationX>199</locationX>
        <locationY>338</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_CERS_Technical_Manager_User_Exists</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CERSTechnicalManager.Label</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>CERSTechnicalManagerUser</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <startElementReference>Get_CERS_Technical_Manager</startElementReference>
    <status>Active</status>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CERSTechnicalManager</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CERS_Technical_Manager__mdt</objectType>
    </variables>
    <variables>
        <name>CERSTechnicalManagers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CERS_Technical_Manager__mdt</objectType>
    </variables>
    <variables>
        <name>CERSTechnicalManagerUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>TechnicalManagerCaseTeamRole</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseTeamRole</objectType>
    </variables>
</Flow>
