unpackaged/flows/CERS_Help_Desk_Assign_Escalation_Case_Team.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Escalation_Email_Notification</name>
        <label>Send Escalation Email Notification</label>
        <locationX>987</locationX>
        <locationY>1004</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Iterate_Through_Team_Members</targetReference>
        </connector>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EscalationEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>GroupMemberUser.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>A case has been escalated to your team</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>Check_Escalation_Type</name>
        <label>Check Escalation Type</label>
        <locationX>408</locationX>
        <locationY>88</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Technical_Escalation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case.CERS_Help_Desk_Escalation_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Technical</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Record_Type</targetReference>
            </connector>
            <label>Technical Escalation</label>
        </rules>
        <rules>
            <name>Program_Escalation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case.CERS_Help_Desk_Escalation_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Program</stringValue>
                </rightValue>
            </conditions>
            <label>Program Escalation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Team_And_Role_Exists</name>
        <label>Check if Team And Role Exists</label>
        <locationX>430</locationX>
        <locationY>908</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Team_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseTeam</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Role</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Associate_Team_With_Case</targetReference>
            </connector>
            <label>Team Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Record_Type</name>
        <label>Check Record Type</label>
        <locationX>244</locationX>
        <locationY>194</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CERS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CERS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Development_Team</targetReference>
            </connector>
            <label>CERS</label>
        </rules>
        <rules>
            <name>Complaint_Management</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complaint_Management</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Development_Team_0</targetReference>
            </connector>
            <label>Complaint Management</label>
        </rules>
    </decisions>
    <formulas>
        <name>InstanceUrl</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260}))</expression>
    </formulas>
    <interviewLabel>CERS Help Desk Assign Escalation Case Team {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CERS Help Desk Assign Escalation Case Team</label>
    <loops>
        <name>Iterate_Through_Team_Members</name>
        <label>Iterate Through Team Members</label>
        <locationX>696</locationX>
        <locationY>1026</locationY>
        <assignNextValueToReference>TeamMember</assignNextValueToReference>
        <collectionReference>CaseTeamMembers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Retrieve_User</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Associate_Team_With_Case</name>
        <label>Associate Team With Case</label>
        <locationX>440</locationX>
        <locationY>1062</locationY>
        <connector>
            <targetReference>Iterate_Through_Team_Members</targetReference>
        </connector>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamTemplateId</field>
            <value>
                <elementReference>CaseTeam.Id</elementReference>
            </value>
        </inputAssignments>
        <object>CaseTeamTemplateRecord</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Development_Team</name>
        <label>Get Development Team</label>
        <locationX>131</locationX>
        <locationY>342</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Retrieve_Technical_Team_Role</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CERS Development Team</stringValue>
            </value>
        </filters>
        <object>CaseTeamTemplate</object>
        <outputReference>CaseTeam</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Development_Team_0</name>
        <label>Get Development Team</label>
        <locationX>409</locationX>
        <locationY>345</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Retrieve_Technical_Team_Role</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Complaint Management Development Team</stringValue>
            </value>
        </filters>
        <object>CaseTeamTemplate</object>
        <outputReference>CaseTeam</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Retrieve_Case</name>
        <label>Retrieve Case</label>
        <locationX>159</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Retrieve_Record_Type</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>Case</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CERS_Help_Desk_Escalation_Type__c</queriedFields>
        <queriedFields>CaseNumber</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Retrieve_Record_Type</name>
        <label>Retrieve Record Type</label>
        <locationX>268</locationX>
        <locationY>49</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Escalation_Type</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Case.RecordTypeId</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>RecordType</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Retrieve_Technical_Team_Members</name>
        <label>Retrieve Technical Team Members</label>
        <locationX>132</locationX>
        <locationY>665</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Team_And_Role_Exists</targetReference>
        </connector>
        <filters>
            <field>TeamTemplateId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseTeam.Id</elementReference>
            </value>
        </filters>
        <object>CaseTeamTemplateMember</object>
        <outputReference>CaseTeamMembers</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>MemberId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Retrieve_Technical_Team_Role</name>
        <label>Retrieve Technical Team Role</label>
        <locationX>131</locationX>
        <locationY>509</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Retrieve_Technical_Team_Members</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Development Support</stringValue>
            </value>
        </filters>
        <object>CaseTeamRole</object>
        <outputReference>Role</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Retrieve_User</name>
        <label>Retrieve User</label>
        <locationX>796</locationX>
        <locationY>910</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Escalation_Email_Notification</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TeamMember.MemberId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>GroupMemberUser</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
    </recordLookups>
    <startElementReference>Retrieve_Case</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>EscalationEmailBody</name>
        <text>Case {!Case.CaseNumber} has been escalated to your team.  {!InstanceUrl}/{!Case.Id}</text>
    </textTemplates>
    <variables>
        <name>Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseTeam</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseTeamTemplate</objectType>
    </variables>
    <variables>
        <name>CaseTeamMembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseTeamTemplateMember</objectType>
    </variables>
    <variables>
        <name>DevelopmentTeamMembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>GroupMemberUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>RecordType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>Role</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseTeamRole</objectType>
    </variables>
    <variables>
        <name>TeamMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseTeamTemplateMember</objectType>
    </variables>
    <variables>
        <name>TeamMembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseTeamTemplateMember</objectType>
    </variables>
</Flow>
