unpackaged/flows/CERS_Help_Desk_Set_Manager_on_Case.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Set_CERS_Technical_Manager_on_Case</name>
        <label>Set CERS Technical Manager on Case</label>
        <locationX>608</locationX>
        <locationY>89</locationY>
        <assignmentItems>
            <assignToReference>Case.CERS_Technical_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <interviewLabel>CERS Help Desk Set Manager on Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CERS Help Desk Set Manager on Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_CERS_Technical_Manager</name>
        <label>Get CERS Technical Manager</label>
        <locationX>333</locationX>
        <locationY>66</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User</targetReference>
        </connector>
        <object>CERS_Technical_Manager__mdt</object>
        <outputReference>Manager</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Label</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_User</name>
        <label>Get User</label>
        <locationX>490</locationX>
        <locationY>75</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_CERS_Technical_Manager_on_Case</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Manager.Label</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>User</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Retrieve_Case</name>
        <label>Retrieve Case</label>
        <locationX>177</locationX>
        <locationY>52</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_CERS_Technical_Manager</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>Case</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CERS_Technical_Manager__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>759</locationX>
        <locationY>105</locationY>
        <inputReference>Case</inputReference>
    </recordUpdates>
    <startElementReference>Retrieve_Case</startElementReference>
    <status>Active</status>
    <variables>
        <name>Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Manager</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CERS_Technical_Manager__mdt</objectType>
    </variables>
    <variables>
        <name>User</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
