unpackaged/flows/Close_Complaint_After_All_Assignments_are_Closed.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Set_Can_Close_to_False</name>
        <label>Set Can Close to False</label>
        <locationX>995</locationX>
        <locationY>505</locationY>
        <assignmentItems>
            <assignToReference>CanClose</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Complaint_Assignments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Can_Close_To_True</name>
        <label>Set Can Close to True</label>
        <locationX>763</locationX>
        <locationY>49</locationY>
        <assignmentItems>
            <assignToReference>CanClose</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_Assignment_s_Complaint_Id</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_Flows_are_Disabled</name>
        <label>Check if Flows are Disabled</label>
        <locationX>180</locationX>
        <locationY>55</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Flow_Is_Not_Disabled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsFlowDisabled</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retrieve_Complaint</targetReference>
            </connector>
            <label>Flow Is Not Disabled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Can_Close_True</name>
        <label>Is Can Close True</label>
        <locationX>459</locationX>
        <locationY>349</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Can_Close_is_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CanClose</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Complaint_to_Closed</targetReference>
            </connector>
            <label>Can Close is True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Complaint_Already_Closed</name>
        <label>Is Complaint Already Closed</label>
        <locationX>546</locationX>
        <locationY>68</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Complaint_is_not_Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Complaint.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Can_Close_To_True</targetReference>
            </connector>
            <label>Complaint is not Closed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Complaint_Assignment_Closed</name>
        <label>Is Complaint Assignment Closed</label>
        <locationX>633</locationX>
        <locationY>639</locationY>
        <defaultConnector>
            <targetReference>Set_Can_Close_to_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Is_It_Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ComplaintAssignment.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Complaint_Assignments</targetReference>
            </connector>
            <label>Is It Closed</label>
        </rules>
    </decisions>
    <formulas>
        <name>IsFlowDisabled</name>
        <dataType>Boolean</dataType>
        <expression>{!$Setup.Disable_All_Flows__c.Value__c}</expression>
    </formulas>
    <interviewLabel>Close Complaint After All Assignments are Closed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Close Complaint After All Assignments are Closed</label>
    <loops>
        <name>Loop_Through_Complaint_Assignments</name>
        <label>Loop Through Complaint Assignments</label>
        <locationX>641</locationX>
        <locationY>348</locationY>
        <assignNextValueToReference>ComplaintAssignment</assignNextValueToReference>
        <collectionReference>ComplaintAssignments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Complaint_Assignment_Closed</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_Can_Close_True</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_Assignment_s_Complaint_Id</name>
        <label>Find Assignment&apos;s Complaint Id</label>
        <locationX>765</locationX>
        <locationY>177</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Complaint_Assignments_for_Complaint</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AssignmentId</elementReference>
            </value>
        </filters>
        <object>Complaint_Assignment__c</object>
        <outputAssignments>
            <assignToReference>ComplaintId</assignToReference>
            <field>Complaint__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Complaint_Assignments_for_Complaint</name>
        <label>Find Complaint Assignments for Complaint</label>
        <locationX>639</locationX>
        <locationY>174</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Complaint_Assignments</targetReference>
        </connector>
        <filters>
            <field>Complaint__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ComplaintId</elementReference>
            </value>
        </filters>
        <object>Complaint_Assignment__c</object>
        <outputReference>ComplaintAssignments</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Retrieve_Complaint</name>
        <label>Retrieve Complaint</label>
        <locationX>388</locationX>
        <locationY>55</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Complaint_Already_Closed</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ComplaintId</elementReference>
            </value>
        </filters>
        <object>Complaints__c</object>
        <outputReference>Complaint</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Set_Complaint_to_Closed</name>
        <label>Set Complaint to Closed</label>
        <locationX>454</locationX>
        <locationY>612</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ComplaintId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Closed_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Complaints__c</object>
    </recordUpdates>
    <startElementReference>Check_if_Flows_are_Disabled</startElementReference>
    <status>Active</status>
    <variables>
        <name>AssignmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CanClose</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Complaint</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Complaints__c</objectType>
    </variables>
    <variables>
        <name>ComplaintAssignment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Complaint_Assignment__c</objectType>
    </variables>
    <variables>
        <name>ComplaintAssignments</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Complaint_Assignment__c</objectType>
    </variables>
    <variables>
        <name>ComplaintId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
