unpackaged/flows/Complaint_Management_Notify_Group_Members_When_New_Complaint_Message.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>New_Complaint_Message_Air</name>
        <label>New Complaint Message Air</label>
        <locationX>180</locationX>
        <locationY>249</locationY>
        <actionName>Complaint_Message__c.New_Complaint_Message_Air</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Iterate_Through_Complaint_Assignments</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>ComplaintMessageId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>New_Complaint_Message_Drinking_Water</name>
        <label>New Complaint Message - Drinking Water</label>
        <locationX>220</locationX>
        <locationY>445</locationY>
        <actionName>Complaint_Message__c.New_Complaint_Message_Drinking_Water</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Iterate_Through_Complaint_Assignments</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>ComplaintMessageId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>New_Complaint_Message_Pesticides</name>
        <label>New Complaint Message - Pesticides</label>
        <locationX>291</locationX>
        <locationY>671</locationY>
        <actionName>Complaint_Message__c.New_Complaint_Message_Pesticides</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Iterate_Through_Complaint_Assignments</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>ComplaintMessageId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>New_Complaint_Message_Solid_Waste</name>
        <label>New Complaint Message - Solid Waste</label>
        <locationX>393</locationX>
        <locationY>973</locationY>
        <actionName>Complaint_Message__c.New_Complaint_Message_Solid_Waste</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Iterate_Through_Complaint_Assignments</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>ComplaintMessageId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>New_Complaint_Message_Toxics_Northern</name>
        <label>New Complaint Message - Toxics Northern</label>
        <locationX>994</locationX>
        <locationY>966</locationY>
        <actionName>Complaint_Message__c.New_Complaint_Message_Toxics_Northern</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Iterate_Through_Complaint_Assignments</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>ComplaintMessageId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>New_Complaint_Message_Toxics_Southern</name>
        <label>New Complaint Message - Toxics Southern</label>
        <locationX>1245</locationX>
        <locationY>968</locationY>
        <actionName>Complaint_Message__c.New_Complaint_Message_Toxics_Southern</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Iterate_Through_Complaint_Assignments</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>ComplaintMessageId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>New_Complaint_Message_Toxics_Unknown</name>
        <label>New Complaint Message - Toxics Unknown</label>
        <locationX>1411</locationX>
        <locationY>988</locationY>
        <actionName>Complaint_Message__c.New_Complaint_Message_Toxics_Unknown</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Iterate_Through_Complaint_Assignments</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>ComplaintMessageId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>New_Complaint_Message_Water_Region_1</name>
        <label>New Complaint Message - Water Region 1</label>
        <locationX>1660</locationX>
        <locationY>1010</locationY>
        <actionName>Complaint_Message__c.New_Complaint_Message_Water_Region_1</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Iterate_Through_Complaint_Assignments</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>ComplaintMessageId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>New_Complaint_Message_Water_Region_2</name>
        <label>New Complaint Message - Water Region 2</label>
        <locationX>1866</locationX>
        <locationY>1005</locationY>
        <actionName>Complaint_Message__c.New_Complaint_Message_Water_Region_2</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Iterate_Through_Complaint_Assignments</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>ComplaintMessageId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>New_Complaint_Message_Water_Region_3</name>
        <label>New Complaint Message - Water Region 3</label>
        <locationX>2085</locationX>
        <locationY>982</locationY>
        <actionName>Complaint_Message__c.New_Complaint_Message_Water_Region_3</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Iterate_Through_Complaint_Assignments</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>ComplaintMessageId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>New_Complaint_Message_Water_Region_4</name>
        <label>New Complaint Message - Water Region 4</label>
        <locationX>2334</locationX>
        <locationY>984</locationY>
        <actionName>Complaint_Message__c.New_Complaint_Message_Water_Region_4</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Iterate_Through_Complaint_Assignments</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>ComplaintMessageId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>New_Complaint_Message_Water_Region_5</name>
        <label>New Complaint Message - Water Region 5</label>
        <locationX>2539</locationX>
        <locationY>1012</locationY>
        <actionName>Complaint_Message__c.New_Complaint_Message_Water_Region_5</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Iterate_Through_Complaint_Assignments</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>ComplaintMessageId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>New_Complaint_Message_Water_Region_6</name>
        <label>New Complaint Message - Water Region 6</label>
        <locationX>2704</locationX>
        <locationY>994</locationY>
        <actionName>Complaint_Message__c.New_Complaint_Message_Water_Region_6</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Iterate_Through_Complaint_Assignments</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>ComplaintMessageId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>New_Complaint_Message_Water_Region_7</name>
        <label>New Complaint Message - Water Region 7</label>
        <locationX>2839</locationX>
        <locationY>909</locationY>
        <actionName>Complaint_Message__c.New_Complaint_Message_Water_Region_7</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Iterate_Through_Complaint_Assignments</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>ComplaintMessageId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>New_Complaint_Message_Water_Region_8</name>
        <label>New Complaint Message - Water Region 8</label>
        <locationX>2842</locationX>
        <locationY>816</locationY>
        <actionName>Complaint_Message__c.New_Complaint_Message_Water_Region_8</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Iterate_Through_Complaint_Assignments</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>ComplaintMessageId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>New_Complaint_Message_Water_Region_9</name>
        <label>New Complaint Message - Water Region 9</label>
        <locationX>2869</locationX>
        <locationY>710</locationY>
        <actionName>Complaint_Message__c.New_Complaint_Message_Water_Region_9</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Iterate_Through_Complaint_Assignments</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>ComplaintMessageId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>New_Complaint_Message_Water_Rights</name>
        <label>New Complaint Message - Water Rights</label>
        <locationX>2784</locationX>
        <locationY>334</locationY>
        <actionName>Complaint_Message__c.New_Complaint_Message_Water_Rights</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Iterate_Through_Complaint_Assignments</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>ComplaintMessageId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>New_Complaint_Message_Water_State_Board</name>
        <label>New Complaint Message - Water State Board</label>
        <locationX>2791</locationX>
        <locationY>553</locationY>
        <actionName>Complaint_Message__c.New_Complaint_Message_Water_State_Board</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Iterate_Through_Complaint_Assignments</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>ComplaintMessageId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Post_to_Chatter</name>
        <label>Post to Chatter</label>
        <locationX>1003</locationX>
        <locationY>188</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Retrieve_Complaint</targetReference>
        </connector>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>ChatterMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>ComplaintMessage.Complaint__c</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <constants>
        <name>ChatterMessage</name>
        <dataType>String</dataType>
        <value>
            <stringValue>A new message has been added.</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Determine_Group</name>
        <label>Determine Group</label>
        <locationX>1290</locationX>
        <locationY>354</locationY>
        <defaultConnector>
            <targetReference>Iterate_Through_Complaint_Assignments</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Air_Resources_Board</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ComplaintAssignmentGroup.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Air Resources Board</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Complaint_Message_Air</targetReference>
            </connector>
            <label>Air Resources Board</label>
        </rules>
        <rules>
            <name>State_of_California_Central_Coast_Regional_Water_Quality_Control_Board</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ComplaintAssignmentGroup.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>State of California Central Coast Regional Water Quality Control Board</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Complaint_Message_Water_Region_3</targetReference>
            </connector>
            <label>State of California Central Coast Regional Water Quality Control Board</label>
        </rules>
        <rules>
            <name>State_of_California_San_Francisco_Bay_Regional_Water_Quality_Control_Board</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ComplaintAssignmentGroup.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>State of California San Francisco Bay Regional Water Quality Control Board</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Complaint_Message_Water_Region_2</targetReference>
            </connector>
            <label>State of California San Francisco Bay Regional Water Quality Control Board</label>
        </rules>
        <rules>
            <name>State_of_California_Santa_Ana_Regional_Water_Quality_Control_Board</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ComplaintAssignmentGroup.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>State of California Santa Ana Regional Water Quality Control Board</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Complaint_Message_Water_Region_8</targetReference>
            </connector>
            <label>State of California Santa Ana Regional Water Quality Control Board</label>
        </rules>
        <rules>
            <name>Department_of_Toxic_Substances_Control_Northern</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ComplaintAssignmentGroup.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Department of Toxic Substances Control (Northern)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Complaint_Message_Toxics_Northern</targetReference>
            </connector>
            <label>Department of Toxic Substances Control (Northern)</label>
        </rules>
        <rules>
            <name>California_Department_of_Resources_Recycling_and_Recovery_CalRecycle</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ComplaintAssignmentGroup.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>California Department of Resources Recycling and Recovery (CalRecycle)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Complaint_Message_Solid_Waste</targetReference>
            </connector>
            <label>California Department of Resources Recycling and Recovery (CalRecycle)</label>
        </rules>
        <rules>
            <name>State_of_California_Central_Valley_Regional_Water_Quality_Control_Board</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ComplaintAssignmentGroup.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>State of California Central Valley Regional Water Quality Control Board</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Complaint_Message_Water_Region_5</targetReference>
            </connector>
            <label>State of California Central Valley Regional Water Quality Control Board</label>
        </rules>
        <rules>
            <name>State_Water_Resources_Control_Board</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ComplaintAssignmentGroup.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>State Water Resources Control Board</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Complaint_Message_Water_State_Board</targetReference>
            </connector>
            <label>State Water Resources Control Board</label>
        </rules>
        <rules>
            <name>State_of_California_North_Coast_Regional_Water_Quality_Control_Board</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ComplaintAssignmentGroup.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>State of California North Coast Regional Water Quality Control Board</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Complaint_Message_Water_Region_1</targetReference>
            </connector>
            <label>State of California North Coast Regional Water Quality Control Board</label>
        </rules>
        <rules>
            <name>State_of_California_Los_Angeles_Regional_Water_Quality_Control_Board</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ComplaintAssignmentGroup.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>State of California Los Angeles Regional Water Quality Control Board</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Complaint_Message_Water_Region_4</targetReference>
            </connector>
            <label>State of California Los Angeles Regional Water Quality Control Board</label>
        </rules>
        <rules>
            <name>Department_of_Toxic_Substances_Control</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ComplaintAssignmentGroup.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Department of Toxic Substances Control</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Complaint_Message_Toxics_Unknown</targetReference>
            </connector>
            <label>Department of Toxic Substances Control</label>
        </rules>
        <rules>
            <name>State_of_California_San_Diego_Regional_Water_Quality_Control_Board</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ComplaintAssignmentGroup.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>State of California San Diego Regional Water Quality Control Board</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Complaint_Message_Water_Region_9</targetReference>
            </connector>
            <label>State of California San Diego Regional Water Quality Control Board</label>
        </rules>
        <rules>
            <name>State_of_California_Lahontan_Regional_Water_Quality_Control_Board</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ComplaintAssignmentGroup.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>State of California Lahontan Regional Water Quality Control Board</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Complaint_Message_Water_Region_6</targetReference>
            </connector>
            <label>State of California Lahontan Regional Water Quality Control Board</label>
        </rules>
        <rules>
            <name>Department_of_Toxic_Substances_Control_Southern</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ComplaintAssignmentGroup.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Department of Toxic Substances Control (Southern)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Complaint_Message_Toxics_Southern</targetReference>
            </connector>
            <label>Department of Toxic Substances Control (Southern)</label>
        </rules>
        <rules>
            <name>Department_of_Pesticide_Regulation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ComplaintAssignmentGroup.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Department of Pesticide Regulation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Complaint_Message_Pesticides</targetReference>
            </connector>
            <label>Department of Pesticide Regulation</label>
        </rules>
        <rules>
            <name>State_Water_Resources_Control_Board_Division_of_Water_Rights</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ComplaintAssignmentGroup.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>State Water Resources Control Board - Division of Water Rights</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Complaint_Message_Water_Rights</targetReference>
            </connector>
            <label>State Water Resources Control Board - Division of Water Rights</label>
        </rules>
        <rules>
            <name>State_of_California_Colorado_River_Regional_Water_Quality_Control_Board</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ComplaintAssignmentGroup.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>State of California Colorado River Regional Water Quality Control Board</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Complaint_Message_Water_Region_7</targetReference>
            </connector>
            <label>State of California Colorado River Regional Water Quality Control Board</label>
        </rules>
        <rules>
            <name>State_Water_Resources_Control_Board_Division_of_Drinking_Water</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ComplaintAssignmentGroup.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>State Water Resources Control Board - Division of Drinking Water</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Complaint_Message_Drinking_Water</targetReference>
            </connector>
            <label>State Water Resources Control Board - Division of Drinking Water</label>
        </rules>
    </decisions>
    <interviewLabel>Complaint Management Notify Group Members When New Complaint Message {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Complaint Management Notify Group Members When New Complaint Message</label>
    <loops>
        <name>Iterate_Through_Complaint_Assignments</name>
        <label>Iterate Through Complaint Assignments</label>
        <locationX>1295</locationX>
        <locationY>50</locationY>
        <assignNextValueToReference>ComplaintAssignment</assignNextValueToReference>
        <collectionReference>ComplaintAssignments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Retrieve_Complaint_Assignment_Group</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Retrieve_Complaint</name>
        <label>Retrieve Complaint</label>
        <locationX>1008</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Retrieve_Complaint_Assignments</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ComplaintMessage.Complaint__c</elementReference>
            </value>
        </filters>
        <object>Complaints__c</object>
        <outputReference>Complaint</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Retrieve_Complaint_Assignment_Group</name>
        <label>Retrieve Complaint Assignment Group</label>
        <locationX>1298</locationX>
        <locationY>183</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Determine_Group</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ComplaintAssignment.Group__c</elementReference>
            </value>
        </filters>
        <object>Complaint_Assignment_Group__c</object>
        <outputReference>ComplaintAssignmentGroup</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Retrieve_Complaint_Assignments</name>
        <label>Retrieve Complaint Assignments</label>
        <locationX>1166</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Through_Complaint_Assignments</targetReference>
        </connector>
        <filters>
            <field>Complaint__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Complaint.Id</elementReference>
            </value>
        </filters>
        <object>Complaint_Assignment__c</object>
        <outputReference>ComplaintAssignments</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Group__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Retrieve_Complaint_Message</name>
        <label>Retrieve Complaint Message</label>
        <locationX>877</locationX>
        <locationY>189</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Post_to_Chatter</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ComplaintMessageId</elementReference>
            </value>
        </filters>
        <object>Complaint_Message__c</object>
        <outputReference>ComplaintMessage</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Complaint__c</queriedFields>
    </recordLookups>
    <startElementReference>Retrieve_Complaint_Message</startElementReference>
    <status>Active</status>
    <variables>
        <name>Complaint</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Complaints__c</objectType>
    </variables>
    <variables>
        <name>ComplaintAssignment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Complaint_Assignment__c</objectType>
    </variables>
    <variables>
        <name>ComplaintAssignmentGroup</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Complaint_Assignment_Group__c</objectType>
    </variables>
    <variables>
        <name>ComplaintAssignments</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Complaint_Assignment__c</objectType>
    </variables>
    <variables>
        <name>ComplaintMessage</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Complaint_Message__c</objectType>
    </variables>
    <variables>
        <name>ComplaintMessageId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
