unpackaged/flows/Create_Air_Pesticides_and_Solid_Waste_Assignments.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notify_Admins_That_Solid_Waste_Group_Doesn_t_Exist</name>
        <label>Notify Admins That Solid Waste Group Doesn&apos;t Exist</label>
        <locationX>1282</locationX>
        <locationY>1003</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <stringValue>Admins</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Solid Waste Complaint Assignment Group Does Not Exist</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>Group</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>FeedItemId</assignToReference>
            <name>feedItemId</name>
        </outputParameters>
    </actionCalls>
    <decisions>
        <name>Air_Assignment_Exists</name>
        <label>Air Assignment Exists</label>
        <locationX>253</locationX>
        <locationY>203</locationY>
        <defaultConnector>
            <targetReference>Check_if_it_is_a_Pesticides_Complaint</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Air_Assignment_Id_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AirAssignmentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Air_Primary_Contact</targetReference>
            </connector>
            <label>Air Assignment Id is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Air_Group_Is_Null</name>
        <label>Check if Air Group Is Null</label>
        <locationX>710</locationX>
        <locationY>205</locationY>
        <defaultConnector>
            <targetReference>Check_if_it_is_a_Pesticides_Complaint</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Air_Group_Is_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AirGroupId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Air_Assignment</targetReference>
            </connector>
            <label>Air Group Is Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Flows_are_Disabled</name>
        <label>Check if Flows are Disabled</label>
        <locationX>37</locationX>
        <locationY>6</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Flow_Is_Not_Disabled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AreFlowsDisabled</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_it_is_an_Air_Complaint</targetReference>
            </connector>
            <label>Flow Is Not Disabled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_it_is_a_Pesticides_Complaint</name>
        <label>Check if it is a Pesticides Complaint</label>
        <locationX>41</locationX>
        <locationY>479</locationY>
        <defaultConnector>
            <targetReference>Check_If_It_Is_A_Solid_Waste_Complaint</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Is_Pesticides</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsPesticides</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Pesticides_Complaint_Assignment</targetReference>
            </connector>
            <label>Is Pesticides</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_It_Is_A_Solid_Waste_Complaint</name>
        <label>Check If It Is A Solid Waste Complaint</label>
        <locationX>33</locationX>
        <locationY>890</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>It_Is_A_Solid_Waste_Complaint</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsSolidWaste</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Solid_Waste_Complaint_Assignment</targetReference>
            </connector>
            <label>It Is A Solid Waste Complaint</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_it_is_an_Air_Complaint</name>
        <label>Check if it is an Air Complaint</label>
        <locationX>45</locationX>
        <locationY>111</locationY>
        <defaultConnector>
            <targetReference>Check_if_it_is_a_Pesticides_Complaint</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Is_Air</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsAir</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Air_Assignment</targetReference>
            </connector>
            <label>Is Air</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Pesticides_Assignment_Exists</name>
        <label>Does Pesticides Assignment Exists</label>
        <locationX>360</locationX>
        <locationY>577</locationY>
        <defaultConnector>
            <targetReference>Check_If_It_Is_A_Solid_Waste_Complaint</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Pesticides_Assignment_Does_Not_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PesticidesAssignmentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Pesticides_Complaint_Assignment_Group</targetReference>
            </connector>
            <label>Pesticides Assignment Does Not Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Pesticides_Group_Exist</name>
        <label>Does Pesticides Group Exist</label>
        <locationX>924</locationX>
        <locationY>572</locationY>
        <defaultConnector>
            <targetReference>Create_Pesticides_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Pesticides_Group_Does_Not_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PesticidesGroupId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_If_It_Is_A_Solid_Waste_Complaint</targetReference>
            </connector>
            <label>Pesticides Group Does Not Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Solid_Waste_Assignment_Exists</name>
        <label>Does Solid Waste Assignment Exists</label>
        <locationX>351</locationX>
        <locationY>1003</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Solid_Waste_Assignment_Does_Not_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SolidWasteAssignmentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Solid_Waste_Complaint_Assignment_Group</targetReference>
            </connector>
            <label>Solid Waste Assignment Does Not Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Solid_Waste_Group_Exist</name>
        <label>Does Solid Waste Group Exist</label>
        <locationX>954</locationX>
        <locationY>1001</locationY>
        <defaultConnector>
            <targetReference>Create_Solid_Waste_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Solid_Waste_Group_Does_Not_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SolidWasteGroupId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_Admins_That_Solid_Waste_Group_Doesn_t_Exist</targetReference>
            </connector>
            <label>Solid Waste Group Does Not Exist</label>
        </rules>
    </decisions>
    <formulas>
        <name>AreFlowsDisabled</name>
        <dataType>Boolean</dataType>
        <expression>{!$Setup.Disable_All_Flows__c.Value__c}</expression>
    </formulas>
    <interviewLabel>Create Air, Pesticides, and Solid Waste Assignments {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Air, Pesticides, and Solid Waste Assignments</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Air_Assignment</name>
        <label>Create Air Assignment</label>
        <locationX>644</locationX>
        <locationY>330</locationY>
        <assignRecordIdToReference>AirAssignmentId</assignRecordIdToReference>
        <connector>
            <targetReference>Check_if_it_is_a_Pesticides_Complaint</targetReference>
        </connector>
        <inputAssignments>
            <field>Complaint__c</field>
            <value>
                <elementReference>ComplaintId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Group__c</field>
            <value>
                <elementReference>AirGroupId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Air</stringValue>
            </value>
        </inputAssignments>
        <object>Complaint_Assignment__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Pesticides_Assignment</name>
        <label>Create Pesticides Assignment</label>
        <locationX>887</locationX>
        <locationY>729</locationY>
        <assignRecordIdToReference>PesticidesAssignmentId</assignRecordIdToReference>
        <connector>
            <targetReference>Check_If_It_Is_A_Solid_Waste_Complaint</targetReference>
        </connector>
        <inputAssignments>
            <field>Complaint__c</field>
            <value>
                <elementReference>ComplaintId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Group__c</field>
            <value>
                <elementReference>PesticidesGroupId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Pesticides</stringValue>
            </value>
        </inputAssignments>
        <object>Complaint_Assignment__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Solid_Waste_Assignment</name>
        <label>Create Solid Waste Assignment</label>
        <locationX>958</locationX>
        <locationY>1120</locationY>
        <assignRecordIdToReference>SolidWasteAssignmentId</assignRecordIdToReference>
        <inputAssignments>
            <field>Complaint__c</field>
            <value>
                <elementReference>ComplaintId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Group__c</field>
            <value>
                <elementReference>SolidWasteGroupId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Solid Waste</stringValue>
            </value>
        </inputAssignments>
        <object>Complaint_Assignment__c</object>
    </recordCreates>
    <recordLookups>
        <name>Find_Air_Assignment</name>
        <label>Find Air Assignment</label>
        <locationX>254</locationX>
        <locationY>109</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Air_Assignment_Exists</targetReference>
        </connector>
        <filters>
            <field>Complaint__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ComplaintId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Air</stringValue>
            </value>
        </filters>
        <object>Complaint_Assignment__c</object>
        <outputAssignments>
            <assignToReference>AirAssignmentId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Air_Primary_Contact</name>
        <label>Find Air Primary Contact</label>
        <locationX>523</locationX>
        <locationY>207</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Air_Group_Is_Null</targetReference>
        </connector>
        <filters>
            <field>Lookup_Value__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Air</stringValue>
            </value>
        </filters>
        <object>Complaint_Assignment_Group__c</object>
        <outputAssignments>
            <assignToReference>AirGroupId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AirOwnerId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Pesticides_Complaint_Assignment</name>
        <label>Find Pesticides Complaint Assignment</label>
        <locationX>361</locationX>
        <locationY>479</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Pesticides_Assignment_Exists</targetReference>
        </connector>
        <filters>
            <field>Complaint__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ComplaintId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pesticides</stringValue>
            </value>
        </filters>
        <object>Complaint_Assignment__c</object>
        <outputAssignments>
            <assignToReference>PesticidesAssignmentId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Pesticides_Complaint_Assignment_Group</name>
        <label>Find Pesticides Complaint Assignment Group</label>
        <locationX>684</locationX>
        <locationY>568</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Pesticides_Group_Exist</targetReference>
        </connector>
        <filters>
            <field>Lookup_Value__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pesticides</stringValue>
            </value>
        </filters>
        <object>Complaint_Assignment_Group__c</object>
        <outputAssignments>
            <assignToReference>PesticidesGroupId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PesticidesOwnerId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Solid_Waste_Complaint_Assignment</name>
        <label>Find Solid Waste Complaint Assignment</label>
        <locationX>353</locationX>
        <locationY>886</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Solid_Waste_Assignment_Exists</targetReference>
        </connector>
        <filters>
            <field>Complaint__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ComplaintId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Solid Waste</stringValue>
            </value>
        </filters>
        <object>Complaint_Assignment__c</object>
        <outputAssignments>
            <assignToReference>SolidWasteAssignmentId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Solid_Waste_Complaint_Assignment_Group</name>
        <label>Find Solid Waste Complaint Assignment Group</label>
        <locationX>727</locationX>
        <locationY>1002</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Solid_Waste_Group_Exist</targetReference>
        </connector>
        <filters>
            <field>Lookup_Value__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Solid Waste/CalRecycle</stringValue>
            </value>
        </filters>
        <object>Complaint_Assignment_Group__c</object>
        <outputAssignments>
            <assignToReference>SolidWasteGroupId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SolidWasteOwnerId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>Check_if_Flows_are_Disabled</startElementReference>
    <status>Active</status>
    <variables>
        <name>AirAssignmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AirGroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AirOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ComplaintId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FaultEmailAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FeedItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IsAir</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IsPesticides</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IsSolidWaste</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PesticidesAssignmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PesticidesGroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PesticidesOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SolidWasteAssignmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SolidWasteGroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SolidWasteOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
