unpackaged/flows/Create_Water_Assignment.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Check_if_Drinking_Water_Group_Is_Null</name>
        <label>Check if Drinking Water Group Is Null</label>
        <locationX>330</locationX>
        <locationY>891</locationY>
        <defaultConnector>
            <targetReference>Create_Drinking_Water_Complaint_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Drinking_Water_Group_Is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GroupId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Drinking Water Group Is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Flows_are_Disabled</name>
        <label>Check if Flows are Disabled</label>
        <locationX>468</locationX>
        <locationY>52</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Flow_Is_Not_Disabled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AreFlowsDisabled</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Water_Assignment</targetReference>
            </connector>
            <label>Flow Is Not Disabled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Group_Is_Null</name>
        <label>Check if Group Is Null</label>
        <locationX>712</locationX>
        <locationY>1532</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Group_Is_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GroupId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Water_Quality_Assignment</targetReference>
            </connector>
            <label>Group Is Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_is_Water_Rights</name>
        <label>Check if is Water Rights</label>
        <locationX>81</locationX>
        <locationY>388</locationY>
        <defaultConnector>
            <targetReference>Check_if_it_is_Drinking_Water</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>It is NOT Water Rights</defaultConnectorLabel>
        <rules>
            <name>It_is_Water_Rights</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Complaint.Water_Rights__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Water_Rights_Complaint_Assignment_Group</targetReference>
            </connector>
            <label>It is Water Rights</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_it_is_Drinking_Water</name>
        <label>Check if it is Drinking Water</label>
        <locationX>339</locationX>
        <locationY>691</locationY>
        <defaultConnector>
            <targetReference>Check_if_it_is_Water_Quality</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>It is NOT Drinking Water</defaultConnectorLabel>
        <rules>
            <name>It_is_Drinking_Water</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Complaint.Drinking_Water__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Drinking_Water_Complaint_Assignment_Group</targetReference>
            </connector>
            <label>It is Drinking Water</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_it_is_Water_Quality</name>
        <label>Check if it is Water Quality</label>
        <locationX>658</locationX>
        <locationY>1002</locationY>
        <defaultConnector>
            <targetReference>Check_if_Neither_Water_Rights_Drinking_Water_nor_Water_Quality</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is NOT Water Quality</defaultConnectorLabel>
        <rules>
            <name>It_is_Water_Quality</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Complaint.Water_Quality__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Determine_Water_Organization</targetReference>
            </connector>
            <label>It is Water Quality</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Neither_Water_Rights_Drinking_Water_nor_Water_Quality</name>
        <label>Check if Neither Water Rights, Drinking Water, nor Water Quality</label>
        <locationX>1199</locationX>
        <locationY>1005</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Neither_Water_Rights_Drinking_Water_nor_Water_Quality</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Complaint.Drinking_Water__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Complaint.Water_Rights__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Complaint.Water_Quality__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_State_Board_Complaint_Assignment_Group</targetReference>
            </connector>
            <label>Neither Water Rights, Drinking Water, nor Water Quality</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Water_Rights_Group_Is_Null</name>
        <label>Check if Water Rights Group Is Null</label>
        <locationX>80</locationX>
        <locationY>581</locationY>
        <defaultConnector>
            <targetReference>Create_Water_Rights_Complaint_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Water_Rights_Group_Is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GroupId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Water Rights Group Is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Determine_Water_Organization</name>
        <label>Determine Water Organization</label>
        <locationX>675</locationX>
        <locationY>1113</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>IsRegion1Complaint</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Region</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Region 1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Region_1_Complaint_Assignment_Group</targetReference>
            </connector>
            <label>IsRegion1Complaint</label>
        </rules>
        <rules>
            <name>IsRegion2Complaint</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Region</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Region 2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Region_2_Complaint_Assignment_Group</targetReference>
            </connector>
            <label>IsRegion2Complaint</label>
        </rules>
        <rules>
            <name>IsRegion3Complaint</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Region</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Region 3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Region_3_Complaint_Assignment_Group</targetReference>
            </connector>
            <label>IsRegion3Complaint</label>
        </rules>
        <rules>
            <name>IsRegion4Complaint</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Region</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Region 4</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Region_4_Complaint_Assignment_Group</targetReference>
            </connector>
            <label>IsRegion4Complaint</label>
        </rules>
        <rules>
            <name>IsRegion5Complaint</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Region</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Region 5</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Region_5_Complaint_Assignment_Group</targetReference>
            </connector>
            <label>IsRegion5Complaint</label>
        </rules>
        <rules>
            <name>IsRegion6Complaint</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Region</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Region 6</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Region_6_Complaint_Assignment_Group</targetReference>
            </connector>
            <label>IsRegion6Complaint</label>
        </rules>
        <rules>
            <name>IsRegion7Complaint</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Region</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Region 7</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Region_7_Complaint_Assignment_Group</targetReference>
            </connector>
            <label>IsRegion7Complaint</label>
        </rules>
        <rules>
            <name>IsRegion8Complaint</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Region</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Region 8</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Region_8_Complaint_Assignment_Group</targetReference>
            </connector>
            <label>IsRegion8Complaint</label>
        </rules>
        <rules>
            <name>IsRegion9Complaint</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Region</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Region 9</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Region_9_Complaint_Assignment_Group</targetReference>
            </connector>
            <label>IsRegion9Complaint</label>
        </rules>
        <rules>
            <name>Is_State_Board_Complaint</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Region</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_State_Board_Complaint_Assignment_Group</targetReference>
            </connector>
            <label>Is State Board Complaint</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Water_Assignment_Exists</name>
        <label>Does Water Assignment Exists</label>
        <locationX>76</locationX>
        <locationY>152</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Water_Assignment_Does_Not_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExistingAssignmentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retrieve_Complaint</targetReference>
            </connector>
            <label>Water Assignment Does Not Exist</label>
        </rules>
    </decisions>
    <formulas>
        <name>AreFlowsDisabled</name>
        <dataType>Boolean</dataType>
        <expression>{!$Setup.Disable_All_Flows__c.Value__c}</expression>
    </formulas>
    <interviewLabel>Create Water Assignment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Water Assignment</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Drinking_Water_Complaint_Assignment</name>
        <label>Create Drinking Water Complaint Assignment</label>
        <locationX>333</locationX>
        <locationY>1007</locationY>
        <connector>
            <targetReference>Check_if_it_is_Water_Quality</targetReference>
        </connector>
        <inputAssignments>
            <field>Complaint__c</field>
            <value>
                <elementReference>ComplaintId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Group__c</field>
            <value>
                <elementReference>GroupId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Water</stringValue>
            </value>
        </inputAssignments>
        <object>Complaint_Assignment__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Water_Quality_Assignment</name>
        <label>Create Water Quality Assignment</label>
        <locationX>709</locationX>
        <locationY>1737</locationY>
        <inputAssignments>
            <field>Complaint__c</field>
            <value>
                <elementReference>ComplaintId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Group__c</field>
            <value>
                <elementReference>GroupId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Water</stringValue>
            </value>
        </inputAssignments>
        <object>Complaint_Assignment__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Water_Rights_Complaint_Assignment</name>
        <label>Create Water Rights Complaint Assignment</label>
        <locationX>87</locationX>
        <locationY>692</locationY>
        <connector>
            <targetReference>Check_if_it_is_Drinking_Water</targetReference>
        </connector>
        <inputAssignments>
            <field>Complaint__c</field>
            <value>
                <elementReference>ComplaintId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Group__c</field>
            <value>
                <elementReference>GroupId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Water</stringValue>
            </value>
        </inputAssignments>
        <object>Complaint_Assignment__c</object>
    </recordCreates>
    <recordLookups>
        <name>Find_Water_Assignment</name>
        <label>Find Water Assignment</label>
        <locationX>76</locationX>
        <locationY>40</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Water_Assignment_Exists</targetReference>
        </connector>
        <filters>
            <field>Complaint__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ComplaintId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Water</stringValue>
            </value>
        </filters>
        <object>Complaint_Assignment__c</object>
        <outputAssignments>
            <assignToReference>ExistingAssignmentId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Drinking_Water_Complaint_Assignment_Group</name>
        <label>Lookup Drinking Water Complaint Assignment Group</label>
        <locationX>336</locationX>
        <locationY>808</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Drinking_Water_Group_Is_Null</targetReference>
        </connector>
        <filters>
            <field>Lookup_Value__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SWRCB - Division of Drinking Water</stringValue>
            </value>
        </filters>
        <object>Complaint_Assignment_Group__c</object>
        <outputAssignments>
            <assignToReference>GroupId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Region_1_Complaint_Assignment_Group</name>
        <label>Lookup Region 1 Complaint Assignment Group</label>
        <locationX>210</locationX>
        <locationY>1241</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Group_Is_Null</targetReference>
        </connector>
        <filters>
            <field>Lookup_Value__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SWRCB - Region 1 - North Coast</stringValue>
            </value>
        </filters>
        <object>Complaint_Assignment_Group__c</object>
        <outputAssignments>
            <assignToReference>GroupId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Region_2_Complaint_Assignment_Group</name>
        <label>Lookup Region 2 Complaint Assignment Group</label>
        <locationX>353</locationX>
        <locationY>1246</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Group_Is_Null</targetReference>
        </connector>
        <filters>
            <field>Lookup_Value__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SWRCB - Region 2 - San Francisco Bay</stringValue>
            </value>
        </filters>
        <object>Complaint_Assignment_Group__c</object>
        <outputAssignments>
            <assignToReference>GroupId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Region_3_Complaint_Assignment_Group</name>
        <label>Lookup Region 3 Complaint Assignment Group</label>
        <locationX>481</locationX>
        <locationY>1244</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Group_Is_Null</targetReference>
        </connector>
        <filters>
            <field>Lookup_Value__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SWRCB - Region 3 - Central Coast</stringValue>
            </value>
        </filters>
        <object>Complaint_Assignment_Group__c</object>
        <outputAssignments>
            <assignToReference>GroupId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Region_4_Complaint_Assignment_Group</name>
        <label>Lookup Region 4 Complaint Assignment Group</label>
        <locationX>603</locationX>
        <locationY>1244</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Group_Is_Null</targetReference>
        </connector>
        <filters>
            <field>Lookup_Value__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SWRCB - Region 4 - Los Angeles</stringValue>
            </value>
        </filters>
        <object>Complaint_Assignment_Group__c</object>
        <outputAssignments>
            <assignToReference>GroupId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Region_5_Complaint_Assignment_Group</name>
        <label>Lookup Region 5 Complaint Assignment Group</label>
        <locationX>734</locationX>
        <locationY>1242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Group_Is_Null</targetReference>
        </connector>
        <filters>
            <field>Lookup_Value__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SWRCB - Region 5 - Central Valley</stringValue>
            </value>
        </filters>
        <object>Complaint_Assignment_Group__c</object>
        <outputAssignments>
            <assignToReference>GroupId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Region_6_Complaint_Assignment_Group</name>
        <label>Lookup Region 6 Complaint Assignment Group</label>
        <locationX>863</locationX>
        <locationY>1242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Group_Is_Null</targetReference>
        </connector>
        <filters>
            <field>Lookup_Value__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SWRCB - Region 6 - Lahontan</stringValue>
            </value>
        </filters>
        <object>Complaint_Assignment_Group__c</object>
        <outputAssignments>
            <assignToReference>GroupId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Region_7_Complaint_Assignment_Group</name>
        <label>Lookup Region 7 Complaint Assignment Group</label>
        <locationX>992</locationX>
        <locationY>1252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Group_Is_Null</targetReference>
        </connector>
        <filters>
            <field>Lookup_Value__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SWRCB - Region 7 - Colorado River Basin</stringValue>
            </value>
        </filters>
        <object>Complaint_Assignment_Group__c</object>
        <outputAssignments>
            <assignToReference>GroupId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Region_8_Complaint_Assignment_Group</name>
        <label>Lookup Region 8 Complaint Assignment Group</label>
        <locationX>1123</locationX>
        <locationY>1246</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Group_Is_Null</targetReference>
        </connector>
        <filters>
            <field>Lookup_Value__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SWRCB - Region 8 - Santa Ana</stringValue>
            </value>
        </filters>
        <object>Complaint_Assignment_Group__c</object>
        <outputAssignments>
            <assignToReference>GroupId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Region_9_Complaint_Assignment_Group</name>
        <label>Lookup Region 9 Complaint Assignment Group</label>
        <locationX>1271</locationX>
        <locationY>1246</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Group_Is_Null</targetReference>
        </connector>
        <filters>
            <field>Lookup_Value__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SWRCB - Region 9 - San Diego</stringValue>
            </value>
        </filters>
        <object>Complaint_Assignment_Group__c</object>
        <outputAssignments>
            <assignToReference>GroupId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_State_Board_Complaint_Assignment_Group</name>
        <label>Lookup State Board Complaint Assignment Group</label>
        <locationX>1466</locationX>
        <locationY>1244</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Group_Is_Null</targetReference>
        </connector>
        <filters>
            <field>Lookup_Value__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Water</stringValue>
            </value>
        </filters>
        <object>Complaint_Assignment_Group__c</object>
        <outputAssignments>
            <assignToReference>GroupId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Water_Rights_Complaint_Assignment_Group</name>
        <label>Lookup Water Rights Complaint Assignment Group</label>
        <locationX>82</locationX>
        <locationY>495</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Water_Rights_Group_Is_Null</targetReference>
        </connector>
        <filters>
            <field>Lookup_Value__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SWRCB - Division of Water Rights</stringValue>
            </value>
        </filters>
        <object>Complaint_Assignment_Group__c</object>
        <outputAssignments>
            <assignToReference>GroupId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Retrieve_Complaint</name>
        <label>Retrieve Complaint</label>
        <locationX>76</locationX>
        <locationY>274</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_is_Water_Rights</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ComplaintId</elementReference>
            </value>
        </filters>
        <object>Complaints__c</object>
        <outputReference>Complaint</outputReference>
        <queriedFields>Drinking_Water__c</queriedFields>
        <queriedFields>Regional_Water_Board__c</queriedFields>
        <queriedFields>Water_Rights__c</queriedFields>
        <queriedFields>Water_Quality__c</queriedFields>
    </recordLookups>
    <startElementReference>Check_if_Flows_are_Disabled</startElementReference>
    <status>Active</status>
    <variables>
        <name>Complaint</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Complaints__c</objectType>
    </variables>
    <variables>
        <name>ComplaintId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExistingAssignmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Region</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WaterboardRegion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
