unpackaged/flows/New_Finding_Post_to_Chatter.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Post_New_Finding_to_Chatter</name>
        <label>Post New Finding to Chatter</label>
        <locationX>462</locationX>
        <locationY>48</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>ChatterMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>Complaint.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <formulas>
        <name>ChatterMessage</name>
        <dataType>String</dataType>
        <expression>&apos;A new finding has been submitted for &apos; + {!Complaint.Name}</expression>
    </formulas>
    <interviewLabel>New Finding Post to Chatter {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Finding Post to Chatter</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Retrieve_Complaint</name>
        <label>Retrieve Complaint</label>
        <locationX>289</locationX>
        <locationY>69</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Post_New_Finding_to_Chatter</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Finding.Complaint__c</elementReference>
            </value>
        </filters>
        <object>Complaints__c</object>
        <outputReference>Complaint</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Retrieve_Finding</name>
        <label>Retrieve Finding</label>
        <locationX>168</locationX>
        <locationY>57</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Retrieve_Complaint</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FindingId</elementReference>
            </value>
        </filters>
        <object>Finding__c</object>
        <outputReference>Finding</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Complaint__c</queriedFields>
    </recordLookups>
    <startElementReference>Retrieve_Finding</startElementReference>
    <status>Active</status>
    <variables>
        <name>Complaint</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Complaints__c</objectType>
    </variables>
    <variables>
        <name>Finding</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Finding__c</objectType>
    </variables>
    <variables>
        <name>FindingId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
