unpackaged/flows/Recommended_Routing_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Test_Input</name>
        <label>Test Input</label>
        <locationX>180</locationX>
        <locationY>12</locationY>
        <assignmentItems>
            <assignToReference>RecID_Complaint</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a001100000CxLH3</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Air</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Pesticides</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SolidWaste</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Toxics</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ZipcodeField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>90001</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CountyField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Los Angeles County</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CityField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Los Angeles</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>AirComplaint</name>
        <label>Air Complaint</label>
        <locationX>262</locationX>
        <locationY>221</locationY>
        <defaultConnector>
            <targetReference>Pesticides_Complaint</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Air</defaultConnectorLabel>
        <rules>
            <name>AirequalsTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Air</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ZipcodeField</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Air_Routing</targetReference>
            </connector>
            <label>Air=True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Flows_are_Disabled</name>
        <label>Check if Flows are Disabled</label>
        <locationX>538</locationX>
        <locationY>65</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Flow_Is_Not_Disabled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AreFlowsDisabled</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Input</targetReference>
            </connector>
            <label>Flow Is Not Disabled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Input</name>
        <label>Check Input</label>
        <locationX>276</locationX>
        <locationY>113</locationY>
        <defaultConnectorLabel>Bad Input</defaultConnectorLabel>
        <rules>
            <name>All_Good_Complaint_Record_is_not_blank</name>
            <conditionLogic>1 AND (2 or 3 or 4 or 5) AND (6 or 7 or 8)</conditionLogic>
            <conditions>
                <leftValueReference>RecID_Complaint</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Air</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Pesticides</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Toxics</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SolidWaste</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ZipcodeField</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CityField</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CountyField</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AirComplaint</targetReference>
            </connector>
            <label>All Good (Complaint Record is not blank)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Pesticides_Complaint</name>
        <label>Pesticides Complaint</label>
        <locationX>328</locationX>
        <locationY>363</locationY>
        <defaultConnector>
            <targetReference>Solid_Waste_Complaint</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Pesticides</defaultConnectorLabel>
        <rules>
            <name>Pesticides_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Pesticides</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CountyField</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Look_up_Pesticides_Routing</targetReference>
            </connector>
            <label>Pesticides=True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Solid_Waste_Complaint</name>
        <label>Solid Waste Complaint</label>
        <locationX>408</locationX>
        <locationY>492</locationY>
        <defaultConnector>
            <targetReference>Toxics_Complaint</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Solid Waste</defaultConnectorLabel>
        <rules>
            <name>Solid_Waste_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SolidWaste</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CountyField</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Solid_Waste_Routing</targetReference>
            </connector>
            <label>Solid Waste = True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Toxics_Complaint</name>
        <label>Toxics Complaint</label>
        <locationX>478</locationX>
        <locationY>614</locationY>
        <defaultConnector>
            <targetReference>Update_Complaint_Partners</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Toxics</defaultConnectorLabel>
        <rules>
            <name>Toxics_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Toxics</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ZipcodeField</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Toxics_Routing</targetReference>
            </connector>
            <label>Toxics = True</label>
        </rules>
    </decisions>
    <description>Changes to look-up on account instead of text field</description>
    <formulas>
        <name>AreFlowsDisabled</name>
        <dataType>Boolean</dataType>
        <expression>{!$Setup.Disable_All_Flows__c.Value__c}</expression>
    </formulas>
    <formulas>
        <description>formula to format zipcode</description>
        <name>frml_Zipcode</name>
        <dataType>String</dataType>
        <expression>LEFT({!ZipcodeField},5)</expression>
    </formulas>
    <interviewLabel>Recommended Routing Flow v3 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Recommended Routing Flow v3</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Look_up_Pesticides_Routing</name>
        <label>Look-up Pesticides Routing</label>
        <locationX>577</locationX>
        <locationY>364</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Solid_Waste_Complaint</targetReference>
        </connector>
        <filters>
            <field>County__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CountyField</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pesticides__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Routing_Data__c</object>
        <outputAssignments>
            <assignToReference>NewPesticidesExternalPartner</assignToReference>
            <field>Agency__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Air_Routing</name>
        <label>Lookup Air Routing</label>
        <locationX>465</locationX>
        <locationY>221</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Pesticides_Complaint</targetReference>
        </connector>
        <filters>
            <field>Air__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Zip_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>frml_Zipcode</elementReference>
            </value>
        </filters>
        <object>Routing_Data__c</object>
        <outputAssignments>
            <assignToReference>NewAirExternalPartner</assignToReference>
            <field>Agency__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Solid_Waste_Routing</name>
        <label>Lookup Pesticides Routing</label>
        <locationX>662</locationX>
        <locationY>489</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Toxics_Complaint</targetReference>
        </connector>
        <filters>
            <field>County__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CountyField</elementReference>
            </value>
        </filters>
        <filters>
            <field>Solid_Waste__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Routing_Data__c</object>
        <outputAssignments>
            <assignToReference>NewSolidWasteExternalPartner</assignToReference>
            <field>Agency__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Toxics_Routing</name>
        <label>Lookup Toxics Routing</label>
        <locationX>720</locationX>
        <locationY>613</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Complaint_Partners</targetReference>
        </connector>
        <filters>
            <field>Toxic_Substances__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Zip_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>frml_Zipcode</elementReference>
            </value>
        </filters>
        <object>Routing_Data__c</object>
        <outputAssignments>
            <assignToReference>NewToxicsExternalPartner</assignToReference>
            <field>Agency__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Complaint_Partners</name>
        <label>Update Complaint Partners</label>
        <locationX>597</locationX>
        <locationY>729</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecID_Complaint</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Agricultural_Commissioner__c</field>
            <value>
                <elementReference>NewPesticidesExternalPartner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Air_District__c</field>
            <value>
                <elementReference>NewAirExternalPartner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CUPA__c</field>
            <value>
                <elementReference>NewToxicsExternalPartner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LEA__c</field>
            <value>
                <elementReference>NewSolidWasteExternalPartner</elementReference>
            </value>
        </inputAssignments>
        <object>Complaints__c</object>
    </recordUpdates>
    <startElementReference>Check_if_Flows_are_Disabled</startElementReference>
    <status>Active</status>
    <variables>
        <description>Complaint is an AIR complaint</description>
        <name>Air</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>CityField</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>CountyField</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>NewAirExternalPartner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>NewPesticidesExternalPartner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>NewPesticidesPartner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>NewSolidWasteExternalPartner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>NewToxicsExternalPartner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>Pesticides Complaint</description>
        <name>Pesticides</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>RecID_Complaint</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>Solid Waste complaint</description>
        <name>SolidWaste</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Toxic Substance Complaint</description>
        <name>Toxics</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ZipcodeField</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
