unpackaged/flows/Set_Complaint_Assignment_Owner.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Check_if_Flows_are_Disabled</name>
        <label>Check if Flows are Disabled</label>
        <locationX>518</locationX>
        <locationY>43</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Flow_Is_Not_Disabled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AreFlowsDisabled</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Complaint_Assignment</targetReference>
            </connector>
            <label>Flow Is Not Disabled</label>
        </rules>
    </decisions>
    <formulas>
        <name>AreFlowsDisabled</name>
        <dataType>Boolean</dataType>
        <expression>{!$Setup.Disable_All_Flows__c.Value__c}</expression>
    </formulas>
    <interviewLabel>Set Complaint Assignment Owner {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Set Complaint Assignment Owner</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Complaint_Assignment</name>
        <label>Get Complaint Assignment</label>
        <locationX>180</locationX>
        <locationY>39</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Group</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AssignmentId</elementReference>
            </value>
        </filters>
        <object>Complaint_Assignment__c</object>
        <outputReference>Assignment</outputReference>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Group__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Group</name>
        <label>Get Group</label>
        <locationX>182</locationX>
        <locationY>153</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Owner</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Assignment.Group__c</elementReference>
            </value>
        </filters>
        <object>Complaint_Assignment_Group__c</object>
        <outputReference>Group</outputReference>
        <queriedFields>OwnerId</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Owner</name>
        <label>Update Owner</label>
        <locationX>183</locationX>
        <locationY>273</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AssignmentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Group.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Complaint_Assignment__c</object>
    </recordUpdates>
    <startElementReference>Check_if_Flows_are_Disabled</startElementReference>
    <status>Active</status>
    <variables>
        <name>Assignment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Complaint_Assignment__c</objectType>
    </variables>
    <variables>
        <name>AssignmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Group</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Complaint_Assignment_Group__c</objectType>
    </variables>
</Flow>
