unpackaged/flows/Set_Complaint_Date_Referred.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Set_Date_Referred</name>
        <label>Set Date Referred</label>
        <locationX>505</locationX>
        <locationY>57</locationY>
        <assignmentItems>
            <assignToReference>Complaint.Date_Referred__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Complaint</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Date_Referred</name>
        <label>Check Date Referred</label>
        <locationX>336</locationX>
        <locationY>60</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Date_Referred_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Complaint.Date_Referred__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Date_Referred</targetReference>
            </connector>
            <label>Date Referred is Null</label>
        </rules>
    </decisions>
    <interviewLabel>Set Complaint Date Referred {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Set Complaint Date Referred</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Complaint</name>
        <label>Get Complaint</label>
        <locationX>181</locationX>
        <locationY>53</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Date_Referred</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ComplaintId</elementReference>
            </value>
        </filters>
        <object>Complaints__c</object>
        <outputReference>Complaint</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Date_Referred__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Complaint</name>
        <label>Update Complaint</label>
        <locationX>678</locationX>
        <locationY>48</locationY>
        <inputReference>Complaint</inputReference>
    </recordUpdates>
    <startElementReference>Get_Complaint</startElementReference>
    <status>Active</status>
    <variables>
        <name>Complaint</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Complaints__c</objectType>
    </variables>
    <variables>
        <name>ComplaintId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
