unpackaged/flows/Set_Complaint_Owner_to_Agency2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Check_if_Flows_are_Disabled</name>
        <label>Check if Flows are Disabled</label>
        <locationX>180</locationX>
        <locationY>76</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Flow_Is_Not_Disabled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AreFlowsDisabled</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Agency_Queue</targetReference>
            </connector>
            <label>Flow Is Not Disabled</label>
        </rules>
    </decisions>
    <formulas>
        <name>AreFlowsDisabled</name>
        <dataType>Boolean</dataType>
        <expression>{!$Setup.Disable_All_Flows__c.Value__c}</expression>
    </formulas>
    <interviewLabel>Set Complaint Owner to Agency {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Set Complaint Owner to Agency 2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Agency_Queue</name>
        <label>Get Agency Queue</label>
        <locationX>188</locationX>
        <locationY>191</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Complaint_OwnerId_to_QueueId</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Agency</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>QueueId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Set_Complaint_OwnerId_to_QueueId</name>
        <label>Set Complaint OwnerId to QueueId</label>
        <locationX>185</locationX>
        <locationY>304</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ComplaintId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>QueueId</elementReference>
            </value>
        </inputAssignments>
        <object>Complaints__c</object>
    </recordUpdates>
    <startElementReference>Check_if_Flows_are_Disabled</startElementReference>
    <status>Active</status>
    <variables>
        <name>ComplaintId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QueueId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
