unpackaged/flows/Set_Assignment_Status_to_Referred_on_New_Referral.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Set_Assignment_Id</name>
        <label>Set Assignment Id</label>
        <locationX>522</locationX>
        <locationY>496</locationY>
        <assignmentItems>
            <assignToReference>AssignmentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ComplaintAssignment.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Assignment_Status_to_Referred</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_Flows_are_Disabled</name>
        <label>Check if Flows are Disabled</label>
        <locationX>539</locationX>
        <locationY>16</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Flow_Is_Not_Disabled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AreFlowsDisabled</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Complaint_Assignments_for_Complaint</targetReference>
            </connector>
            <label>Flow Is Not Disabled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Complaint_Assignment_Type_Match_Referral_BDO</name>
        <label>Does Complaint Assignment Type Match Referral BDO</label>
        <locationX>427</locationX>
        <locationY>378</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Complaint_Assignments</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Is_Air</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ComplaintAssignment.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Air</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ReferralBDO</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ARB</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Assignment_Id</targetReference>
            </connector>
            <label>Is Air</label>
        </rules>
        <rules>
            <name>Is_Pesticides</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ComplaintAssignment.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pesticides</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ReferralBDO</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DPR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Assignment_Id</targetReference>
            </connector>
            <label>Is Pesticides</label>
        </rules>
        <rules>
            <name>Is_CalRecycle</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ComplaintAssignment.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Solid Waste</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ReferralBDO</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CalRecycle</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Assignment_Id</targetReference>
            </connector>
            <label>Is CalRecycle</label>
        </rules>
        <rules>
            <name>Is_DTSC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ComplaintAssignment.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Toxic Substances</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ReferralBDO</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DTSC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Assignment_Id</targetReference>
            </connector>
            <label>Is DTSC</label>
        </rules>
        <rules>
            <name>Is_Water</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ComplaintAssignment.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Water</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ReferralBDO</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SWRCB</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Assignment_Id</targetReference>
            </connector>
            <label>Is Water</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Assignment_Closed</name>
        <label>Is Assignment Closed</label>
        <locationX>186</locationX>
        <locationY>325</locationY>
        <defaultConnector>
            <targetReference>Does_Complaint_Assignment_Type_Match_Referral_BDO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Is_Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ComplaintAssignment.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Complaint_Assignments</targetReference>
            </connector>
            <label>Is Closed</label>
        </rules>
    </decisions>
    <formulas>
        <name>AreFlowsDisabled</name>
        <dataType>Boolean</dataType>
        <expression>{!$Setup.Disable_All_Flows__c.Value__c}</expression>
    </formulas>
    <interviewLabel>Set Assignment Status to Referred on New Referral {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Set Assignment Status to Referred on New Referral</label>
    <loops>
        <name>Loop_Through_Complaint_Assignments</name>
        <label>Loop Through Complaint Assignments</label>
        <locationX>185</locationX>
        <locationY>119</locationY>
        <assignNextValueToReference>ComplaintAssignment</assignNextValueToReference>
        <collectionReference>ComplaintAssignments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Assignment_Closed</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_Complaint_Assignments_for_Complaint</name>
        <label>Find Complaint Assignments for Complaint</label>
        <locationX>180</locationX>
        <locationY>29</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Complaint_Assignments</targetReference>
        </connector>
        <filters>
            <field>Complaint__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ComplaintId</elementReference>
            </value>
        </filters>
        <object>Complaint_Assignment__c</object>
        <outputReference>ComplaintAssignments</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Type__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Set_Assignment_Status_to_Referred</name>
        <label>Set Assignment Status to Referred</label>
        <locationX>827</locationX>
        <locationY>490</locationY>
        <connector>
            <targetReference>Loop_Through_Complaint_Assignments</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AssignmentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Referred</stringValue>
            </value>
        </inputAssignments>
        <object>Complaint_Assignment__c</object>
    </recordUpdates>
    <startElementReference>Check_if_Flows_are_Disabled</startElementReference>
    <status>Active</status>
    <variables>
        <name>AssignmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ComplaintAssignment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Complaint_Assignment__c</objectType>
    </variables>
    <variables>
        <name>ComplaintAssignments</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Complaint_Assignment__c</objectType>
    </variables>
    <variables>
        <name>ComplaintId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReferralBDO</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
